<ul class="breadcrumb">
  <li class="active">
    <a href="/discuss">Discussion Dashboard</a>
  </li>
</ul>
<div class="activity row">
  <div class="span10">
    <% if logged_in? %>
      <div class="clearfix">
        <div class="input">
          <textarea class="xxlarge" 
                    placeholder="Start a new discussion..." 
                    rows="5"></textarea>
        </div>
      </div>
      <div class="clearfix">
        <br>
        <div class="input">
          <a class="btn btn-primary">Post</a>
        </div>
      </div>
    <% else %>
      <%= link_to "Sign Up", signup_url, :class => "btn btn-primary" %>
      <br><br>
      Sign Up to participate in discussions now.
      <hr>
    <% end %>
    <% for story in @stories %>
      <div class="story-activity">
        <div class="row">
          <span class="span6" style="float: left; padding-right: 10px">
            <%= story_item_title(story) %>
            <%= story_item_content(story, 200, 240) %>
          </span>
          <span class="span3">
            <%= story_item_thumbnail(story, "small") %>
          </span>
        </div>
        <div id="comments<%= story.id %>">
          <div class="comment-entries"></div>
            <div class="input">
            <% if logged_in? %>
              <textarea class="xxlarge comment-body" 
                        placeholder="Post a reply..." 
                        rows="2"></textarea>
            <% else %>
            <p>
              <%= link_to "Sign in", login_url, :class=>"small-btn btn" %> to comment
            </p>
            <% end %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
  $(document).ready(function(e) {
    <% @stories.each do |story| %>
      var c<%= story.id %> = new window.CommentsListView(<%= @comments[story.id].to_json.html_safe %>,
                                                         <%= story.id %>,
                                                         <%= @user_id %>);
      var firstTextArea = $("textarea").get(0);
      if (firstTextArea) {
        firstTextArea.focus();
      }
    <% end %>
  });
</script>
