<ul class="breadcrumb">
  <li class="active">
    Discuss
  </li>
</ul>
<div class="activity row">
  <div class="span9">
    <% if logged_in? %>
      <%= form_for :discuss, :url => discuss_path, :html => { :class => "form-horizontal" } do |f| %>
        <h3>Start a new discussion</h3><br>
        <div class="control-group">
          <label class="control-label">
            Title
          </label>
          <div class="controls">
            <%= f.text_field :title,
                             :class => "span6" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            Message
          </label>
          <div class="controls">
            <%= f.text_area :description,
                            :rows => 5,
                            :class => "span6" %>
          </div>
        </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">
          Share
        </button>
      </div>
    <% end %>
    <% else %>
      <%= link_to "Sign Up", signup_url, :class => "btn btn-primary" %> 
      &nbsp;&nbsp;&nbsp;Sign Up to participate in discussions now!
    <% end %>
      <hr>
    <% for story in @stories %>
      <div class="story-activity">
        <div class="row">
          <span class="span1">
            <% if story.user_id != -1 %>
              <img alt="Gravatar" src="http://gravatar.com/avatar/<%= Digest::MD5.hexdigest(story.user.email) %>?size=48">
            <% end %>
          </span>
          <span class="span2">
            <%= story_item_thumbnail(story, "small") %>
          </span>
          <span class="span6" style="float: left; padding-right: 10px">
            <h4><%= story_item_title(story) %>
              <% if story.user_id != -1 %>
                by <a href="/users/<%= story.user_id %>"><%= story.user.login %></a>
              <% end %>
            </h4>
            <%= story_item_content(story, 200, 240) %>
          </span>
        </div>
        <br>
        <div id="comments<%= story.id %>">
          <div class="comment-entries"></div>
            <div class="input">
            <% if logged_in? %>
              <textarea class="span9 comment-body" 
                        placeholder="Post a reply..." 
                        rows="3"></textarea>
              <div class="clearfix">
                <div class="input">
                  <a class="btn small-btn pull-right add-comment">Reply</a>
                </div>
              </div>
            <% else %>
            <p>
              <%= link_to "Sign in", login_url, :class=>"small-btn btn" %> to comment
            </p>
            <% end %>
            </div>
        </div>
      </div>
      <hr>
    <% end %>
  </div>

  <div class="span3">
  </div>
</div>

<% if @stories.count != 0 %>
  <%= will_paginate @stories, :renderer => PaginationListLinkRenderer %>
<% end %>

<script>
  $(document).ready(function(e) {
    <% @stories.each do |story| %>
      var c<%= story.id %> = new window.CommentsListView(<%= @comments[story.id].to_json.html_safe %>,
                                                         <%= story.id %>,
                                                         <%= @user_id %>);
      var firstTextArea = $("textarea").get(0);
      if (firstTextArea) {
        firstTextArea.focus();
      }
    <% end %>
  });
</script>
