<h2>
  Sign in
</h2>
<hr>
<div class="row">
  <div class="span5 pull-left" style="margin-top: 100px; padding-left: 50px;">
    <h1>
      Stay Informed. Debate. Decide.
    </h1>
  </div>
  <div class="span5 pull-right">
    <%= form_tag create_session_path do %>

    <div class="control-group">
      <%= link_to image_tag("sign-in-with-twitter.png", 
        :alt => "Sign in with Twitter"), "auth/twitter" %>
      <%= link_to content_tag(:div, "", :id => 'facebook-btn'), "auth/facebook" %>
    </div>
    <br>
    
    <div class="control-group">
      <label for="login" >Username or Email</label>
      <div class="controls">
        <%= text_field_tag 'login' %>
      </div>
    </div>

    <div class="control-group">
      <label for="password">Password</label>
      <div class="controls">
        <%= password_field_tag 'password' %>
      </div>
    </div>
    <div class="control-group">
      <label class="checkbox" for="remember_me">
        <%= check_box_tag 'remember_me' %>
        Remember me
      </label>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">
        Sign In
      </button>
      <%= link_to "Forgot password", forgot_password_url, :class => 'btn' %>
      <%= link_to "Sign Up!", signup_url, :class => 'btn-info btn' %>
    </div>

    <%= hidden_field_tag 'redir', @redir %>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="span4">
    <div class="row">
      <div class="span4">
        <h3>What's happening in my town?</h3>
      </div>
    </div><br>
    <div class="row">
      <div class="span4">
        <div class='slideshow'>
          <% @stories.each do |story| %>
            <%= image_tag(story.image.url) %>
          <% end %>
        </div>
        We find relevant local news and discussions happening across the web,
        so you don't have to.
    </div>
    </div>
  </div>
  <div class="span4">
    <div class="row">
      <div class="span4">
        <h3>Have your voice heard</h3>
      </div>
    </div><br>
    <div class="row">
      <div class="span4">
        Post new stories, comment on existing ones and like stories.
      </div>
    </div>
  </div>
  <div class="span4">
    <div class="row">
      <div class="span4">
        <h3>Recent Members</h3>
      </div>
    </div><br>
    <div class="row">
      <div class="span4">
        <% if @new_users and @new_users.count != 0 %>
          <% for user in @new_users %>
            <%= link_to gravatar_image_tag(user.email, :gravatar => { :size => 35 }),
              user,
              :title => user.login,
              'data-placement' => 'bottom',
              :class => 'has_tooltip avatar' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <%= render :partial => "partials/facebook_facepile" %>
</div>

<%= javascript_include_tag "libs/jquery.cycle.js" %>
<%= javascript_include_tag "libs/shuffle.js" %>

<script type="text/javascript">  
 $(document).ready(function() {
  $('.slideshow img').shuffle();
  $('.slideshow').cycle({
    fx: 'fade',
    timeout: 5000
  });
});
</script>