<h3>
  Sign In
</h3>
<hr>
<div class="row-fluid">
  <div class="span7 pull-left" style="margin-top: 10px;">

    <div class="row-fluid" style="text-align: center; margin-bottom: 20px">
      <h3>
        Stay Informed. Debate. Decide.
      </h3>
    </div>

    <div class="row-fluid" style='margin: auto;'>
      <div class='slideshow'>
        <% @stories.each do |story| %>
          <%= link_to image_tag(story.image.url), story_url(story),
              :title => story.title,
              :class => 'has_tooltip',
              'data-placement' => 'top'
          %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="span3 pull-right" style="min-width: 350px">
    <%= render :partial => "partials/form/signin" %>
    <%= render :partial => "partials/form/signup_short" %>

    <div class="row-fluid">
      <div class="row-fluid">
        <%= link_to image_tag("sign-in-with-twitter.png", :alt => "Sign in with Twitter"), "auth/twitter" %>
      </div>
      <div class="row-fluid">
        <%= link_to content_tag(:div, "", :id => 'facebook-btn'), "auth/facebook" %>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="row-fluid">
  <div class="span4">
    <div class="row-fluid">
      <h4>What's happening in your town?</h4>
    </div>
    <div class="row-fluid">
      We find relevant local news and discussions happening across the web,
      so you don't have to. Easily catch up on local news and discussions daily.
    </div>
  </div>
  <div class="span4">
    <div class="row-fluid">
      <h4>Have your voice heard</h4>
    </div>
    <div class="row-fluid">
      Post new articles, comment and like articles. Share articles across your social networks on Twitter, Facebook or elsewhere.
    </div>
  </div>
  <div class="span4">
    <div class="row-fluid">
      <h4>Who joined recently</h4>
    </div>
    <div class="row-fluid">
      <% if @new_users and @new_users.count != 0 %>
        <%= render :partial => "partials/new_users",
          :locals => {:users => @new_users} %>
      <% end %>
    </div>
  </div>
</div>
<div class="row-fluid" style="margin-top: 20px">
  <div class="span4">
    <div class="row-fluid">
      <h4>Are you a local publisher?</h4>
    </div>
    <div class="row-fluid">
      <%= render :partial => "partials/about/local_publisher" %>
    </div>
  </div>
  <div class="span4">
    <div class="row-fluid">
      <h4>Like us on Facebook</h4>
    </div>
    <div class="row-fluid">
      <%= render :partial => "partials/share/facebook_like_button" %>
    </div>
  </div>
</div>

<%= javascript_include_tag "libs/jquery.cycle.js" %>
<%= javascript_include_tag "libs/shuffle.js" %>

<script type="text/javascript">
 $(document).ready(function() {
  // getting links to work in slideshow
  $('.slideshow a').shuffle();
  $('.slideshow').cycle({
    fx: 'fade',
    timeout: 5000
  });
});
</script>
