<h2>
  Sign In
</h2>
<hr>
<div class="row">
  <div class="span6 pull-left" style="margin-top: 10px; width: 600px">
    <div class="row" style="text-align: center; margin-bottom: 20px">
      <h2>
        Stay Informed. Debate. Decide.
      </h2>
    </div>
    <div class='row' style='margin: auto;'>
      <div class='slideshow'>
        <% @stories.each do |story| %>
          <%= link_to image_tag(story.image.url), story_url(story),
              :title => story.title,
              :class => 'has_tooltip',
              'data-placement' => 'top'
          %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="span4 pull-right">
    <%= render :partial => "partials/form/signin" %>
    <%= render :partial => "partials/form/signup_short" %>
    <div class="row" style='background-color:whiteSmoke; border-top: 1px solid #ddd; padding: 10px 0; margin-left: 0;'>
      <div class="span1" style="width: 10px;margin-top: -3px">
        <h3>or</h3>
      </div>
      <div class="span3" style="width: 220px">
        <%= link_to image_tag("sign-in-with-twitter.png",
          :alt => "Sign in with Twitter"), "auth/twitter" %>
          <br>
        <%= link_to content_tag(:div, "", :id => 'facebook-btn'), "auth/facebook" %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="span4">
    <div class="row">
      <div class="span4">
        <h3>What's happening in your town?</h3>
      </div>
    </div><br>
    <div class="row">
      <div class="span4">
        We find relevant local news and discussions happening across the web,
        so you don't have to. Easily catch up on local news and discussions daily.
      </div>
    </div>
  </div>
  <div class="span4">
    <div class="row">
      <div class="span4">
        <h3>Have your voice heard</h3>
      </div>
    </div><br>
    <div class="row">
      <div class="span4">
        Post new articles, comment and like articles. Share articles across your social networks on Twitter, Facebook or elsewhere.
      </div>
    </div>
  </div>
  <div class="span4">
    <div class="row">
      <div class="span4">
        <h3>Who joined recently</h3>
      </div>
    </div><br>
    <div class="row">
      <div class="span4">
        <% if @new_users and @new_users.count != 0 %>
          <%= render :partial => "partials/new_users",
            :locals => {:users => @new_users} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 20px">
  <div class="span4">
    <h3>Are you a local publisher?</h3><br>
    <%= render :partial => "partials/about/local_publisher" %>
  </div>
  <div class="span4">
    <h3>Find us on Facebook</h3>
    <br>
    <%= render :partial => "partials/share/facebook_like_button" %>
  </div>
</div>

<%= javascript_include_tag "libs/jquery.cycle.js" %>
<%= javascript_include_tag "libs/shuffle.js" %>

<script type="text/javascript">
 $(document).ready(function() {
  // getting links to work in slideshow
  $('.slideshow a').shuffle();
  $('.slideshow').cycle({
    fx: 'fade',
    timeout: 5000
  });
});
</script>
