<h1>
  Sign in to Colloki
</h1>
<br>
<div class="span9" style="margin:0 auto">
  <%= form_tag create_session_path do %>
  <fieldset>
    <legend>
      <%= link_to image_tag("sign-in-with-twitter.png", :alt => "Sign in with Twitter"), "auth/twitter" %>
      <%= link_to content_tag(:div, "", :id => 'facebook-btn'), "auth/facebook" %>
    </legend>
  </fieldset>
  <div class="clearfix">
    <label for="login">Username or Email</label>
    <div class="input">
      <%= text_field_tag 'login' %>
    </div>
  </div>

  <div class="clearfix">
    <label for="password">Password</label>
    <div class="input">
      <%= password_field_tag 'password' %>
    </div>
  </div>
  <div class="clearfix">
    <label for="remember_me">
    <%= check_box_tag 'remember_me' %>
    <span>Remember me</span>
    </label>
  </div>

  <div class="actions">
    <button type="submit" class="btn primary">
      Sign In
    </button>
    <%= link_to "Forgot password", forgot_password_url, :class => 'btn' %>
    <%= link_to "Sign Up!", signup_url, :class => 'info btn' %>
  </div>

  <%= hidden_field_tag 'redir', @redir %>
  <% end %>
</div>