
<div class='span3 fb-item fb-photo'>
  <div class='fb-image'>
    <% if story.image_url and story.image_url != "" %>
      <%= link_to image_tag(story.image_url, :style => "max-height: 150px;"), story.source_url %>
    <% end %>
  </div>
  <blockquote>
    <% if story.title != "" %>
      "<%= story.title %>"
    <% end %>
    <br><br>
    <small>
      by <%= story.source %> 
      <a href='<%= story.source_url %>'>
        <%= time_ago_in_words story.published_at %> ago
      </a> •
      <%= story.fb_likes_count %> likes •
      <%= story.fb_comments_count %> comments
    </small>
  </blockquote>
</div>