<div class="story-item <% if (kind === 2 || kind === 1) { %>story-rss<% } else if (kind === 3) { %>story-facebook<% } else if (kind === 4) { %>story-twitter<% } %>">

  <% if (kind === 4) { %>
    <img class="twitter-user-avatar" src="http://api.twitter.com/1/users/profile_image/<%=source%>.png">
    <a class="has-tooltip twitter-username" data-placement="bottom" data-delay="300" href="https://twitter.com/<%=source%>">
      @<%= source %>
    </a>
  <% } %>

  <% if (kind === 3) { %>
    <% if (image_url) { %>
      <img class="story-rss-image" src="<%= image_url %>">
    <% } %>
    <blockquote><span class="expandable"><%= title %></span><span class="short-expandable"><%= description %></span></blockquote>
  <% } else if (kind === 4) { %>
    <blockquote><span class="short-expandable"><%= title %></span></blockquote>
  <% } else { %>

    <h4>
      <a class="story-item-title" href="/stories/<%=id%>"><%= title %></a>
    </h4>

    <% if (image_src) { %>
      <% if (kind != 3) { %>
        <a href="/stories/<%= id %>">
      <% } else { %>
        <a href="<%= icon_url %>">
      <% } %>
        <img class="story-rss-image" src="<%= image_src %>"></a>
    <% } %>

    <p><%= description %></p>
  <% } %>

  <div class="story-item-meta">
    <% if (kind != 4 && kind != 3) { %>
      <div class="favicon">
        <a href="<%= icon_url %>">
          <img src="<%= icon_src %>" />
        </a>
      </div>
    <% } %>

    <% if (kind == 1) { %>
      <a href="<%= icon_url %>"> <%= user.login %></a> 路
    <% } else if (kind != 4) { %>
      <a title="View original article" class="has-tooltip" data-placement="bottom" data-delay="300" href="<%= icon_url %>">
        <%= source %>
      </a> 路
    <% } %>

    <a href="<%= icon_url %>" style="color:#888">
      <%= pretty_timestamp %>
    </a>
    <% if (kind == 2) { %>
      <div class="story-external-popularity">
        <%= fb_likes_count ? fb_likes_count : 0 %> Facebook <% if (fb_likes_count == 1) { %> Like <% } else { %>Likes<% } %> 路
        <%= tweets_count %> <% if (tweets_count == 1) { %> Tweet <% } else { %>Tweets<% } %>
      </div>
    <% } %>

    <% if (kind === 3) { %>
      <br>
      <%= fb_likes_count %> <% if (fb_likes_count == 1) { %> Like <% } else { %>Likes<% } %>
      路 <%= fb_comments_count %> <% if (fb_comments_count == 1) { %> Comment <% } else { %>Comments<% } %>
    <% } %>

    <% if (kind != 4 && kind != 3) { %>
      <div class="story-item-buttons">
        <!-- Comments -->
        <a href="/stories/<%=id%>#comments" class="comment-count has-tooltip btn btn-mini" title="<%= comments.length %> comments">
          <i class="icon-comment"></i>
          <span class="comment-count-value"><%= comments.length %></span>
        </a>

        <!-- Like -->
        <a class="story-like<%= id %> like-btn btn btn-mini btn-success has-tooltip">
          <i class='icon-star-empty icon-white'></i>
          <span class="like-count"></span>
        </a>
      </div>
    <% } %>
  </div>
</div>
