<div class="span4 sidebar" style="width: 285px">

  <!-- Colloki Sign Up Note -->
  <% if !logged_in? %>
    <h4>What is VTS?</h4>
    <%= signin_description %>
    <hr>
  <% end %>

  <!-- Topic keywords -->
  <% if topic and topic.topic_keywords %>
    <div class="topic-keywords">
      <h4>
        <%= link_to "[ " + topic.title + " ]", topic_path(topic) %>
      </h4>
      <%= render :partial => "partials/topic/keywords",
        :locals => {:topic => topic}
      %>
    </div>
    <hr>
  <% end %>

  <!-- Related stories belonging to same topic -->
  <% if more_stories && more_stories.count != 0 %>
    <h4>
      More in <strong>
        <% if story.topic %>
          [ <%= story.topic.title %> ]
        <% else %>
          Uncategorized
        <% end %>
      </strong>
    </h4>
    <% for a_story in more_stories %>
      <%= sidebar_story(a_story) %>
    <% end %>
    <hr>
  <% end %>

  <!-- Stories from same source -->
  <% if more_stories_from_source and more_stories_from_source.count != 0 %>
    <h4>More from <%= story.source %></h4>
    <% for a_story in more_stories_from_source %>
      <%= sidebar_story(a_story) %>
    <% end %>
    <hr>
  <% end %>

  <!-- Other user posted discussions -->
  <% if user_posted_stories and user_posted_stories.count != 0 %>
    <h4>More posts by <%= story.user.login %></h4>
    <% for a_story in user_posted_stories %>
      <%= sidebar_story(a_story) %>
    <% end %>
    <hr>
  <% end %>

  <!-- All User Discussions -->
  <% if all_posted_stories and all_posted_stories.count != 0 %>
    <h4>Recent user posts</h4>
    <% for a_story in all_posted_stories %>
      <%= sidebar_story(a_story) %>
    <% end %>
    <hr>
  <% end %>

  <!-- Related tags -->
  <% if story.tag_list.count != 0 %>
    <h4>Related tags</h4>
    <% if topic %>
      <%= render :partial => "partials/tag_list", 
        :locals => { :list => story.tag_list, :topic => topic.id } %>
    <% end %>
    <hr>
  <% end %>
</div>