<div class="comment row-fluid">
  <div class="span1 comment-user-avatar">
    <a href="/users/<%=model.user.login%>" title="<%= model.user.login %>" >
      <img src="<%=image_url%>">
    </a>
  </div>
  <div class="comment-body span10">
    <a href="/users/<%= model.user.login %>"><%= model.user.login %></a>
    <%= model.body %>
    <div class="comment-meta">
      <%= pretty_timestamp %> &nbsp;&nbsp;
      <% if (user_id == model.user.id) { %>
        <a href="#" class="btn btn-mini btn-danger delete-comment">
          Delete
        </a>
      <% } %>
    </div>
  </div>
</div>
<hr>
