<% if !logged_in? %>
  <div class='well'>
    <h3>Virtual Town Square</h3>
    <p class="lead" style="font-size: 18px; line-height: 24px">
      <%= render :partial => "partials/description/vts" %>
      <%= link_to('Log In', login_url) %> to post, comment, like and share stories. We collect Local News, Blogs, Twitter and Facebook Discussions so that you can keep up with important local issues and developments. This project is being actively developed as part of <a href="research">research</a> in the <a href="http://hci.cs.vt.edu">Center for Human-Computer Interaction</a> in the <a href="http://cs.vt.edu/">Department of Computer Science</a> at <a href="http://vt.edu">Virginia Tech</a>.
      <br><br>
      <%= link_to('Log In', login_url, :class => 'btn btn-primary') %>
      <%= link_to('Learn More', about_url, :class => 'btn btn-info') %>
    </p>
  </div>
<% end %>

<div class="row-fluid topic-body">
  <div class="span12">
    <div class="row-fluid">
      <%= render :partial => "topics/type" %>
    </div>
    <div class="row-fluid">
      <div class="row-fluid">
        <div class="span3 sidebar hidden-phone">
          <%= render :partial => "topics/sidebar",
            :locals => {
              :topic => (defined? topic) ? topic : nil,
              :active_topics => (defined? active_topics) ? active_topics : nil
            }
          %>
        </div>
        <div class="span9 topic-content">
          <div class="row-fluid">
            <h3 class="topic-header"></h3>
          </div>
          <div class="topic-stories"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "topics/footer",
  :locals => {
    :stories => @stories,
    :topic => (defined? topic) ? topic : nil
  }
%>
