<div class="row-fluid map-tooltip">
  <% if story.image_url %>
    <img class="story-rss-image" src="<%= story.image_url %>">
  <% end %>
  <div class="span11">
    <div class="map-tooltip-title">
      <% if story.kind == 4 %>
        <%= link_to story.title, story.source_url, :target => "_blank" %>
      <% else %>
        <%= link_to story.title, story, :target => "_blank" %>
      <% end %>
      <span class="map-tooltip-time"> - <%= time_ago_in_words(story.created_at) %> ago</span>
    </div>
    <div class="row-fluid">
      <%= truncate strip_tags(story.description), :length => 200 %>
      <% if story.kind == 3 %>
        <%= link_to "Read More", story, :target => "_blank" %>
      <% end %>
    </div>
  </div>
</div>
