<div class="well">
  <% render :partial => "topics/type" %>

  <div class="filter-date">
    <h4>Show</h4>
    <ul class="nav nav-stacked nav-pills">
      <li>
        <a href="#" class="date-range" data-value="2">Today's</a>
      </li>
      <li class="active">
        <a href="#" class="date-range" data-value="4">This Week's</a>
      </li>
      <li>
        <a href="#" class="date-range" data-value="1">All Stories</a>
      </li>
    </ul>
  </div>

  <div class="filter-news-source">
    <h4>Collected From</h4>
    <%= render :partial => "topics/source_filter", :locals => {:sources => @news_sources} %>
  </div>

  <div class="filter-chatter">
    <div class="filter-chatter-source">
      <h4>Collected From</h4>
      <ul class="nav nav-stacked nav-pills">
        <li class="active">
          <a href="#" class="type" data-value="4">Twitter</a>
        </li>
        <li>
          <a href="#" class="type" data-value="3">Facebook</a>
        </li>
      </ul>
    </div>

    <div class="filter-chatter-twitter">
      <div class="filter-chatter-hashtags">
        <h4>Popular #Hashtags Today</h4>
        <ul class="nav nav-stacked nav-pills">
          <li class="active">
            <a href="#" class="hashtag" data-value="">Everything</a>
          </li>
          <% @hashtags.each do |hashtag| %>
            <li>
              <a href="#" class="hashtag" data-value="<%= hashtag[:name] %>">#<%= hashtag[:name] %></a>
            </li>
          <% end %>
        </ul>
        <hr>
      </div>
    </div>

    <div class="filter-chatter-facebook">
      <div class="filter-facebook-sources">
        <h4>Facebook Page</h4>
        <%= render :partial => "topics/source_filter", :locals => {:sources => @facebook_sources} %>
      </div>
    </div>
  </div>

  <% if current_user %>
    <div class="filter-following">
      <h4>Following</h4>
      <div class="follow-avatars">
        <% current_user.all_following.each do |user| %>
          <div class="follow-avatar">
            <a href="/users/<%=user.login%>" title="<%= user.login %>" >
              <img src="<%=user.get_image_url%>">
            </a>
          </div>
        <% end %>
      </div>
      <br><br><br>
    </div>
  <% end %>

  <div class="filter-events">
    <h4>Show Events</h4>
    <div class="input-append date" id="datepicker" data-date-format="mm-dd-yyyy">
      <input type="text" class="datepicker-field" readonly>
      <span class="add-on"><i class="icon-th"></i></span>
    </div>
    <br>
  </div>

  <div class="filter-map">
    <h4>Show</h4>
    <ul class="nav nav-stacked nav-pills">
      <li class="active">
        <a href="#" class="date-range" data-value="4">This Week's</a>
      </li>
      <li>
        <a href="#" class="date-range" data-value="5">This Month's</a>
      </li>
      <li>
        <a href="#" class="date-range" data-value="1">All</a>
      </li>
    </ul>

    <h4>What To Show</h4>
    <ul class="nav nav-stacked nav-pills">
      <li>
        <a href="#" class="map-type" data-value="2,4">Everything</a>
      </li>
      <li class="active">
        <a href="#" class="map-type" data-value="2">News</a>
      </li>
      <li>
        <a href="#" class="map-type" data-value="3,4">Chatter</a>
      </li>
    </ul>
  </div>

  <%= render :partial => 'partials/footer' %>
</div>

<%= render :partial => "partials/modal/suggestion" %>
