<a href="<%=root_url%>" title="Slurp! Homepage"><h1 class="white">Home</h1></a>
<div id="rightPanel">

	<h2>What is Slurp?</h2>
		Slurp! is a place to share links and have conversations online. Choose a topic from the list, or <a href="<%=new_topic_path%>">create one</a>. Post your feedback in the <a href="http://slurp.cs.vt.edu/topics/4">discussion topic</a>.
<br><br>
	<h2>New Users</h2>
	<%for user in @new_users%>
		<%=link_to gravatar_for(user), user, :title => user.login%>
	<%end%>
	<br><br>
	<h2>Latest Activity</h2>
	<%=render :partial => "partials/activity_items", :locals => {:activity_items => @activity_items}%>	
	
</div>
<div id="contentPanel">
	<h2>Topics</h2>
	<% for topic in @topics %>
		<%=render :partial => "partials/topic_index_item", :locals => {:topic => topic}%>
	<%end%>
</div>
<br>
<% if logged_in?%>
<div class="buttons" style="float:right; padding-right: 5px">
<a href="<%=new_topic_path%>"class="positive">
		<%= image_tag "add.gif" %>
        New Topic
</a>
</div>
<%end%>
