<a href="<%= @root_url %>">
  <h1>Top Stories</h1>
</a>
<div id="rightPanel">
  <% if !logged_in? %>
    <div class='sidebar_block'>
      <h2>What is Colloki?</h2>
      Colloki is a place to share links and have conversations online. Choose a topic from the list, or <%= link_to 'create one', new_topic_path %>. Post your feedback in the <a href="">discussion topic</a>.
    </div>
  <% end %>
  <div class='sidebar_block'>
    <h2>Latest Activity</h2>
    <%=render :partial => "partials/activity_items", :locals => {:activity_items => @activity_items} %>
  </div>
  <div class='sidebar_block'>
    <h2>New Users</h2>
    <% for user in @new_users %>
      <%= link_to gravatar_image_tag(user.email, :gravatar => { :size => 35 }), user, :title => user.login %>
    <% end %>
  </div>
</div>
<div id="contentPanel">
  <% i = 0 %>
  <% for story in @stories %>
    <% if i < 3 %>
      <%= render :partial => "partials/story_item_layout_1", :locals => {:story => story} %>
    <% else %>
      <%= render :partial => "partials/story_item_layout_2", :locals => {:story => story} %>
    <% end %>
    <% i += 1 %>
  <% end %>
</div>