<% if !logged_in? %>
  <div class='well hidden-phone'>
    <h3>Virtual Town Square</h3>
    <p class="lead landing-page-intro">
      <%= render :partial => "partials/description/vts" %>
      <%= link_to('Log In', login_url) %> to post, comment, like and share stories. We collect Local News, Blogs, Twitter and Facebook Discussions so that you can keep up with important local issues and developments. This project is being actively developed as part of <a href="research">research</a> in the <a href="http://hci.cs.vt.edu">Center for Human-Computer Interaction</a> in the <a href="http://cs.vt.edu/">Department of Computer Science</a> at <a href="http://vt.edu">Virginia Tech</a>.
      <br><br>
      <%= link_to('Log In', login_url, :class => 'btn btn-primary') %>
      <%= link_to('Learn More', about_url, :class => 'btn btn-info') %>
    </p>
  </div>
<% end %>

<div class="row-fluid topic-body">
  <div class="span12">
    <div class="row-fluid">
      <%= render :partial => "topics/type" %>
    </div>

    <div class="row-fluid">
      <div class="row-fluid">
        <div class="span3 sidebar hidden-phone hidden-tablet">
          <%= render :partial => "topics/sidebar",
            :locals => {
              :topic => (defined? topic) ? topic : nil,
              :active_topics => (defined? active_topics) ? active_topics : nil
            }
          %>
        </div>

        <div class="span9 topic-content">
          <div class="row-fluid">
            <h3 class="row-fluid topic-header-container">
              <span class="topic-header span9">
              </span>

              <!-- Mobile and Tablet Nav -->
              <div class="hidden-desktop filter-mobile">
                <div class="btn-group filter-date">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    When
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="#" class="date-range" data-value="2">Today's</a>
                    </li>
                    <li class="active">
                      <a href="#" class="date-range" data-value="4">This Week's</a>
                    </li>
                    <li>
                      <a href="#" class="date-range" data-value="1">All</a>
                    </li>
                  </ul>
                </div>

                <div class="btn-group filter-topic">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Topic
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li class="active">
                      <a href="#" class="topic" data-id="-2">[ Everything ]</a>
                    </li>
                    <% @today_topics.each_with_index do |topic, i| %>
                      <li>
                       <%= link_to "[ " << topic.title << " ]",
                        "#",
                        :class => "topic",
                        "data-placement" => "bottom",
                        "data-id" => topic.id,
                        :title => "[ " + topic.title + " ]" %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>

              <div class="filter-sort filter-sort-desktop pull-right hidden-phone hidden-tablet">
                <%= render :partial => "topics/sort" %>
              </div>
            </h3>
          </div>

          <div class="row-fluid hidden-tablet hidden-phone filter-topic-desktop filter-topic hide">
            <%= render :partial => "topics/navigation",
              :locals => { :topics => @today_topics, :story => @story, :selected_topic => (defined? @topic) ? @topic : nil}
            %>
          </div>
          <div class="map hide">
            <%=
              gmaps(:map_options => {
                  "auto_zoom" => false,
                  "auto_adjust" => false,
                  "bounds" => '[{"lat": 37, "lng": -75}, {"lat": 37.5, "lng": -85.8 }]',
                  "zoom" => 10
                },

                :markers => { "data" => @maps })
            %>
          </div>
          <div class="topic-stories">
          </div>
          <p class="lead loading">Loading...</p>
          <button class="more btn hide span12">More</button>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "topics/footer" %>
