<div id="middle">
  <a href="<%= @root_url %>">
    <h1>Latest</h1>
  </a>
  <%= render :partial => "partials/story_items", :locals => { :stories => @stories } %>
  <%= will_paginate @stories %>
</div>
<div id="right">
  <% if !logged_in? %>
    <div class="block">
      <h2>What is Colloki?</h2>
      <%= colloki_description %>
    </div>
  <% end %>
  <% if @tags.count != 0 %>
    <div class="block">
      <h2>Popular Topics</h2>
        <%=render :partial => "partials/tag_cloud", :locals => {:tags => @tags, :topic => nil}%>
    </div>
  <% end %>
  <% if @activity_items.count != 0 %>
    <div class="block">
      <h2>Latest Activity</h2>
      <%=render :partial => "partials/activity_items", :locals => {:activity_items => @activity_items} %>
    </div>
  <% end %>
  <% if @new_users.count != 0 %>
    <div class="block">
      <h2>New Users</h2>
      <% for user in @new_users %>
        <%= link_to gravatar_image_tag(user.email, :gravatar => { :size => 35 }), user, :title => user.login %>
      <% end %>
    </div>
  <% end %>
</div>