<% @discover_link = auto_discovery_link_tag(:rss, {:controller => 'stories', :action => 'rss', :id => params[:id]}) %>
<%=render :partial => "partials/topic_header", :locals => {:topic => @topic} %>
<div id="rightPanel">
  <div class="sidebar_block">
    <a href="<%=new_topic_story_path(@topic, :kind=>'link')%>" class="positive button">
      Share Link
    </a>
    <a href="<%=new_topic_story_path(@topic, :kind=>'post')%>" class="positive button">
      Write a Post
    </a>
    <br>
  </div>
  <div class="sidebar_block">
    <h2>Tag Cloud</h2>
      <%=render :partial => "partials/tag_cloud", :locals => {:tags => @tags, :topic => @topic.id }%>
  </div>
  <div class="sidebar_block">
    <h2>Latest Activity</h2>
    <%=render :partial => "partials/activity_items", :locals => {:activity_items => @activity_items}%>
  </div>
  <div class="sidebar_block">
    <h2>Top Contributors</h2>
    <%for user in @top_users%>
      <%if user.story_count != '0'%>
        <%=link_to gravatar_image_tag(user.email, :gravatar => { :size => 35 }), user, :title => user.login%>
      <%end%>
    <%end%>
  </div>
</div>
<!-- <div id="sortOptions">
  Sort by:
  <%= renderSortTab('Popularity',   topical_url(:id => @topic.id, :tab => params[:tab], :sort => 'popular'), 'popular')%>
  <%= renderSortTab('Date', topical_url(:id => @topic.id, :tab => params[:tab], :sort => 'newest'), 'newest')%>
</div> -->
<div id="contentPanel">
  <%= render :partial => "partials/story_items", :locals => { :stories => @stories } %>
  <%= will_paginate @stories %>
</div>