<% # If there is a param defined, go for a topic-only view. %>
<% if params[:id]%>
  <% @discover_link = auto_discovery_link_tag(:rss, {:controller => 'stories', :action => 'rss', :id => 'tag', :id2 =>params[:id]}) %>
<%=render :partial => "partials/topic_header", :locals => {:topic => @topic}%>
  <div id="content">
    <h2>Tagged: '<font color="blue"><%= @tag %></font>'</h2>
    <br>
    <%=render :partial => "partials/story_items", :locals => { :stories => @stories } %>
    <br>
  </div>
  <div id="right">
    <h2>Tags in Topic</h2>
    <%=render :partial => "partials/tag_cloud", :locals => { :tags => @tags, :topic => @topic.id }%>
  </div>
<% else %>
<% # Else, do a global view. %>
  <!-- TODO: Auto-discovery RSS link for global tag feed -->
  <%=render :partial => "partials/second_order_header", :locals => { :style => "bluegray", :title => "Tags" }%>
  <!-- TODO: Group this listing by topics -->
  <div id="content">
    <h1>Stories tagged with '<%= link_to @tag, global_tags_url(:tag_list => @tag) %>'</h1>
    <%=render :partial => "partials/story_items", :locals => { :stories => @stories }%>
  </div>
  <div id="right">
    <h2>All Tags</h2>
    <%=render :partial => "partials/tag_cloud", :locals => { :tags => @tags, :topic => false }%>
  </div>
<% end %>