<%= 
  link_to ("<i class='icon-comment'></i> " << story.comments.count.to_s).html_safe, 
  '#story-modal-' + story.id.to_s,
  :class => 'comment-count has_tooltip btn btn-small',
  'data-toggle' => 'modal',
  :title => story.comments.count.to_s + ' comments'
%>

<div class="big-modal modal hide" id="story-modal-<%= story.id.to_s %>">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3><%= story.title %></h3>
  </div>
  <div class="modal-body">
    <p>
      <%= render :partial => "partials/story/modal",
        :locals => {
          :story => story
        } %>
    </p>
  </div>
  <div class="modal-footer">
    <%= render :partial => "partials/story/comments",
      :locals => {:story => story}
    %>
    <a href="#" data-dismiss="modal" class="btn">Close</a>
  </div>
</div>

<script>
  $(document).ready(function(e) {
    var comments = new window.CommentsListView({
      el: $("#comments<%= story.id %>"),
      data: <%= story.comments.to_json.html_safe %>,
      story_id: <%= story.id %>,
      user_id: <%= current_user.id %>
    });
  });

  $("#story-modal-<%= story.id.to_s %>").on('shown', function () {
    $(this).find('.comment-body').focus();
  });
</script>