<div class="storyItemLayout2">
  <div class="storyItemContent">
    <%= story_icon(story) %>
    <%= story_thumbnail(story) %>
    <%= story_title(story) %>
    <%= story_content(story) %>
    <%= story_meta(story) %>
  </div>
</div>