<div class="stories">
  <% story_no = 0 %>
  <% for story in stories %>
    <% if story_no < 3 %>
      <div class="storyItemLayout1">
    <% else %>
      <div class="storyItemLayout2">
    <% end %>
    <% # render :partial => "partials/story_item_vote_panel", :locals => { :story => story } %>
      <div class="storyItemContentPanel">
        <% if story.kind == Story::Link %>
          <h3>
            <%= link_to story.title, story %>
            <a href="<%=story.url%>">
              <span id="storyGotoLink<%=story.id%>"></span>
            </a>
          </h3>
        <% else %>
          <h3>
            <%=link_to story.title, story %>
          </h3>
        <% end %>
        <div class="storyItemContent">
          <%= truncate(strip_tags(story.description), :length => 140, :omission => "...") %>
        </div>
        <div>
          <div class="storyItemEdit" id="storyEdit<%=story.id%>">
          <% if logged_in? && current_user.id == story.user.id %>
          <%= link_to 'Edit', edit_story_path(story) %> | <%= link_to 'Delete', story, :confirm => 'Are you sure?', :method => :delete %>
          <% end %>
          </div>
          <%= render :partial => "partials/tag_list", :locals => { :list => story.tag_list, :topic => story.topic.id } %>
          <div class="storyItemMeta">
            <% if story.kind == Story::Link %>
              Shared by
            <% else %>
              Posted by
            <% end %>
            <%= link_to story.user.login, {
              :controller => "users",
              :action => "show", :id => story.user.id }
            %> •
            <%= time_ago_in_words story.created_at %> ago • <%= link_to story.comments.count.to_s + " comments", story %>
          </div>
        </div>
      </div>
    </div>
    <% story_no += 1 %>
  <% end %>
</div>