<div class="story-item-meta">
  <% if story.kind != Story::Rss %>
    Posted by <%= story_item_icon(story) %> 
    <%= link_to story.user.login, 
      { :controller => "users", :action => "show", :id => story.user.id } 
    %>

  <% else %>
    <%= story_item_icon(story) %>
    <%= link_to story.source, story.source_url, 
      :title            => "View original article", 
      :class            => "has_tooltip",
      'data-placement'  => "bottom",
      'data-delay'      => "300" %>
  <% end %> · 

  <% if story.published_at %>
    <%= time_ago_in_words story.published_at %>
  <% else %>
    <%= time_ago_in_words story.created_at %>
  <% end %> ago

  <div style="margin-top: 5px;">
    <%= link_to ("<i class='icon-comment'></i> " << story.comments.count.to_s).html_safe, story_path(story.id), :class => 'comment-count has_tooltip btn btn-small', :title => story.comments.count.to_s + ' comments'
    %>

    <%= link_to ("<i class='icon-star icon-white'></i> " << story.votes.count.to_s).html_safe, story_path(story.id), :class => 'like-count has_tooltip btn btn-small btn-success', :title => story.votes.count.to_s + ' likes'
    %>
  </div>
  
</div>