<% if logged_in? %>
  <% if story.user and story.user.id != current_user.id %>
    <% if !current_user.voted_on?(story) %>
      <a class="storyHeartContainer" href="<%= url_for(:controller=>"stories", :action => :vote, :id => story.id) %>" title="Like">
        <div class="storyHeart">
    <% else %>
      <a class="storyHeartContainer" href="<%= url_for(:controller=>"stories", :action => :unvote, :id => story.id) %>" title="Unlike">
        <div class="storyHeart voted">
    <% end %>
  <% elsif story.kind == Story::Rss %>
    <% if !current_user.voted_on?(story) %>
      <a class="storyHeartContainer" href="<%= url_for(:controller=>"stories", :action => :vote, :id => story.id) %>" title="Like">
        <div class="storyHeart">
    <% else %>
      <a class="storyHeartContainer" href="<%= url_for(:controller=>"stories", :action => :unvote, :id => story.id) %>" title="Unlike">
        <div class="storyHeart voted">
      <% end %>
  <% else %>
    <div class="storyHeart disabled">
  <% end %>
<% else %>
  <div class="storyHeart disabled">
<% end %>
<span class="voteCount">
  <%= story.votes.count %> likes
</span>
</div>
<% if logged_in? %>
  <% if story.user and story.user.id != current_user.id and !current_user.voted_on?(story) %>
    </a>
  <% end %>
<% end %>