<a href="<%=root_url%>" title="Slurp! Homepage" id="homeHeader">
  <h1 class="white">Home</h1>
</a>
<a href="<%=topical_url(:id => topic.id)%>" title="<%=topic.title%> - <%=topic.description%>" id="topicHeader">
  <h1 class="topic"><%=topic.title%></h1>
</a>
</div>
</div>
