<!-- Topic keywords -->
<% if topic and topic.topic_keywords %>
  <div class="topic-keywords">
    <h4>
      [ <%= topic.title %> ]
    </h4>
    <%= render :partial => "partials/topic/cloud", :locals => { :id => 10, :topic => topic } %>
  </div>
  <hr>
<% end %>

<!-- Filter by source -->
<% if @is_frontpage %>
  <h4>Date</h4>
  <div class="btn-toolbar">
    <div class="btn-group">
    <a class="btn btn-small active date-range" data-value="1">All</a>
    <a class="btn btn-small date-range" data-value="2">Today</a>
    <a class="btn btn-small date-range" data-value="3">Yesterday</a>
    <a class="btn btn-small date-range" data-value="4">Last 7 days</a>
    <a class="btn btn-small date-range" data-value="5">This Month</a>
    </div>
  </div>

  <hr>
  <%= render :partial => "partials/topic/filter/source" %>
  <hr>
<% end %>

<!-- Sign Up Note-->
<% if !logged_in? %>
  <%if @is_frontpage%>
    <h4>What is VTS?</h4>
    <%= render :partial => "partials/description/vts" %>
  <%end%>

  <%= render :partial => "partials/description/signin", :locals => {
    :url => login_url
  } %>
  <hr>
<% end %>

<!-- New users -->
<% if @is_frontpage and new_users and new_users.count != 0 %>
  <h4>Who joined recently</h4>
  <%= render :partial => "partials/new_users", :locals => {:users => new_users} %>
  <hr>
<% end %>
