
<!-- Sign Up Note-->
<% if !logged_in? %>
  <h4>What is VTS?</h4>
  <%= signin_description %>
  <hr>
<% end %>

<!-- Active Topics -->
<% if active_topics and active_topics.count > 0 %>
  <div class='topics-active'>
    <h4>Active Topics</h4>
    <%= render :partial => "partials/topic/navigation",
      :locals => {
        :topics => @active_topics
      }
    %>
  </div>
<% end %>

<!-- Topic keywords -->
<% if topic and topic.topic_keywords %>
  <div class="topic-keywords">
    <h4>
      [ <%= topic.title %> ]
    </h4>
    <%= render :partial => "partials/topic/cloud",
      :locals => {
        :id    => 10,
        :topic => topic
      }
    %>
  </div>
  <hr>
<% end %>

<!-- Popular tags -->
<% if tags and tags.count != 0 %>
  <!-- <h4>Popular Topics</h4> -->
  <%= render :partial => "partials/tag/cloud", :locals => {:tags => tags, :topic => nil} %>
  <!-- <hr> -->
<% end %>

<!-- New users -->
<% if new_users and new_users.count != 0 %>
  <h4>Who joined recently</h4>
  <%= render :partial => "partials/new_users", :locals => {:users => new_users} %>
  <hr>
<% end %>
