
<!-- Sign Up Note-->
<% if !logged_in? %>

  <%if @is_frontpage%>
    <h5>What is VTS?</h5>
    <%= render :partial => "partials/description/vts" %>
  <%end%>

  <%= render :partial => "partials/description/signin", :locals => {
    :url => login_url
  } %>
  <hr>
<% end %>

<!-- Active Topics -->
<% if active_topics and active_topics.count > 0 %>
  <div class='topics-active'>
    <h5>Active Topics</h5>
    <%= render :partial => "partials/topic/navigation",
      :locals => {
        :topics => @active_topics
      }
    %>
  </div>
<% end %>

<!-- Topic keywords -->
<% if topic and topic.topic_keywords %>
  <div class="topic-keywords">
    <h5>
      [ <%= topic.title %> ]
    </h5>
    <%= render :partial => "partials/topic/cloud",
      :locals => {
        :id    => 10,
        :topic => topic
      }
    %>
  </div>
  <hr>
<% end %>

<!-- Popular tags -->
<% if tags and tags.count != 0 %>
  <!-- <h5>Popular Topics</h5> -->
  <%= render :partial => "partials/tag/cloud", :locals => {:tags => tags, :topic => nil} %>
  <!-- <hr> -->
<% end %>

<!-- New users -->
<% if @is_frontpage and new_users and new_users.count != 0 %>
  <h5>Who joined recently</h5>
  <%= render :partial => "partials/new_users", :locals => {:users => new_users} %>
  <hr>
<% end %>
