<h1 class="orange">Sign up to Slurp!</h1>

<%= error_messages_for :user %>
<% form_for :user, :url => users_path do |f| -%>
	
<p><label for="login">Pick a username (Cannot have spaces or any other special characters)</label><br/>
<%= f.text_field :login %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email %></p>

<p><label for="password">Password (Five or more characters)</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p>
	<div class="buttons">
	<button type="submit" class="positive">
		<%= image_tag "user.gif"%>
	        Sign Up!
	</button>
	</div>	
	
</p>
<% end -%>
<br><br>