<h1>
  Sign up to Colloki
</h1>
<br>
<%= error_messages_for :user %>
<%= form_for :user, :url => users_path do |f| -%>

<div class="clearfix">
  <div style="text-align: center">
    <%= link_to image_tag("sign-in-with-twitter.png", :alt => "Sign in with Twitter"), "auth/twitter" %>
    <%= link_to content_tag(:div, "", :id => 'facebook-btn'), "auth/facebook" %>
  </div>
  <hr>
  <div id="OR">or</div>
  <hr>
  <label for="login">
    Pick a username <span class="help-block">Cannot have spaces or any other special characters</span>
  </label>
  <div class="input">
    <%= f.text_field :login %>
  </div>
</div>

<div class="clearfix">
  <label for="email">Email</label>
  <div class="input">
    <%= f.text_field :email %>
  </div>
</div>

<div class="clearfix">
  <label for="password">Password <span class="help-block">Five or more characters</span></label>
  <div class="input">
    <%= f.password_field :password %>
  </div>
</div>

<div class="clearfix">
  <label for="password_confirmation">Confirm Password</label>
  <div class="input">
    <%= f.password_field :password_confirmation %>
  </div>
</div>

<div class="actions">
  <button type="submit" class="btn primary">
    Sign Up!
  </button>
</div>

<% end -%>