<div id="middle">
  <h1>Reset Password for <%= @user.login%></h1>

  <%= error_messages_for :user %>
  <%= form_for @user, :url => update_password_on_reset_url  do |f| -%>

  <p><label for="password">New Password</label><br/>
  <%= f.password_field :password %></p>

  <p><label for="password_confirmation">Confirm New Password</label><br/>
  <%= f.password_field :password_confirmation %></p>

  <input type="hidden" name="user[reset_code]" value="" id="user_reset_code">
  <input type="hidden" name="current_reset_code" value="<%=@user.reset_code%>" id="current_reset_code">

  <p><%= submit_tag 'Reset Password' %></p>
  <% end -%>
</div>