<h2>Reset Password for <%= @user.login%></h2>
<hr>

<%= error_messages_for :user %>
<%= form_for @user, :url => update_password_on_reset_url  do |f| -%>
  <div class="control-group">
    <label class="control-label">Enter the new password</label>
    <div class="controls">
      <%= f.password_field :password %>
    </div>

    <input type="hidden" name="user[reset_code]" value="" id="user_reset_code">
    <input type="hidden" name="current_reset_code" value="<%=@user.reset_code%>" id="current_reset_code">
  </div>

  <div class="form-actions">
    <%= submit_tag 'Reset Password', :class => "btn btn-primary" %>
  </div>
<% end %>
