<h1>
  Settings
</h1>

<%= form_for(@user) do |f| %>
<%= f.error_messages %>

<h2>Basic</h2>
<div class="field">
  <div class="fieldLabel"><%= f.label "Username" %></div>
  <div class="fieldValue">
    <span class="fieldNotEditable"><%= @user.login %></span>
    <br>
    <span class="fieldMeta">Slurp! doesn't allow users to change their usernames (yet)</span>
  </div>
</div>

<div class="field">
  <div class="fieldLabel"><%= f.label "Email" %></div>
  <div class="fieldValue">
    <span class="fieldNotEditable"><%= @user.email %></span>
    <br>
    <span class="fieldMeta">Slurp! doesn't allow users to change their email ids (yet).</span>
  </div>
</div>

<div class="field">
  <div class="fieldLabel"><%= f.label "Name" %></div>
  <div class="fieldValue">
    <%= f.text_field :realname %><br>
    <span class="fieldMeta">Your real name</span>
  </div>
</div>

<div class="field">
  <div class="fieldLabel"><%= f.label "Bio" %></div>
  <div class="fieldValue">
    <%= f.text_field :bio %><br>
    <span class="fieldMeta">A short, one line bio of you.</span>
  </div>
</div>

<div class="field">
  <div class="fieldLabel"><%= f.label "Website" %></div>
  <div class="fieldValue">
    <%= f.text_field :website %>
    <br>
    <span class="fieldMeta">The URL to your website, in case you have one.</span>
  </div>
</div>

<div class="field">
  <div class="fieldLabel"><%= f.label "Location" %></div>
  <div class="fieldValue">
    <%= f.text_field :location %>
    <br>
    <span class="fieldMeta">Where do you live?</span>
  </div>
</div>

<div class="field">
  <div class="fieldLabel"></div>
  <div class="fieldValue">
    <div class="buttons">
    <button type="submit" class="positive">
      <%= image_tag "tick.png" %>
        Update
    </button>
    </div>
  </div>
</div>
<% end %>

<h2>Password</h2>
<div class="field">
  <div class="fieldLabel"></div>
  <div class="fieldValue">
    <div class="buttons">
      <a href="<%=change_password_url%>">
        <%= image_tag "password.png" %>
          Change Password
      </a>
    </div>
  </div>
</div>

<h2>Avatar</h2>

<div class="field">
  <div class="fieldLabel"></div>
  <div class="fieldValue">
    <%= gravatar_image_tag(current_user.email) %>
    <br>
    <span class="fieldMeta">
      Slurp uses your <a href="http://gravatar.com">Gravatar</a> (Globally Recognized Avatar) to represent you on this site.
      <br>
      <a href="http://gravatar.com">Gravatar</a> is a free service to manage your avatar across the web. Setting up a new account takes less than a minute!
    </span>
  </div>
</div>

<div class="field">
  <div class="fieldLabel"></div>
  <div class="fieldValue">
    <div class="buttons">
      <a href="http://en.gravatar.com/site/signup">
      Sign up for Gravatar
    </a>
    <br><br>
    <span class="fieldMeta">Remember to use <%= @user.email %> as your email id.</span>
  </div>
</div>

<div class="field">
  <div class="fieldLabel"></div>
  <div class="fieldValue">
    <div class="buttons">
      <a href="http://en.gravatar.com/emails/">
        Update Your Gravatar
      </a>
    </div>
    <br><br>
    <span class="fieldMeta">Changes might take a few minutes to show up on site. If it takes longer, please refresh your browser cache.</span>
  </div>
</div>