<h1>
  Settings
</h1>

<%= form_for(@user) do |f| %>
<%= f.error_messages %>

<h2>Basic</h2>
<div class="clearfix">
  <%= f.label "Username" %>
  <div class="input">
    <strong><%= @user.login %></strong>
    <span class="help-block">You cannot change your username (yet!)</span>
  </div>
</div>
<div class="clearfix">
  <%= f.label "Email" %>
  <div class="input">
    <%= @user.email %>
    <span class="help-block">You cannot change your email (yet!)</span>
  </div>
</div>

<div class="clearfix">
  <%= f.label "Name" %>
  <div class="input">
    <%= f.text_field :realname %>
    <span class="help-block">Your real name</span>
  </div>
</div>

<div class="clearfix">
  <%= f.label "Bio" %>
  <div class="input">
    <%= f.text_field :bio %>
    <span class="help-block">A short, one line bio of you.</span>
  </div>
</div>

<div class="clearfix">
  <%= f.label "Website" %>
  <div class="input">
    <%= f.text_field :website %>
    <span class="help-block">The URL to your website, in case you have one.</span>
  </div>
</div>

<div class="clearfix">
  <%= f.label "Location" %>
  <div class="input">
    <%= f.text_field :location %>
    <span class="help-block">Where do you live?</span>
  </div>
</div>

<div class="actions">
  <button type="submit" class="btn primary">
    Update
  </button>
</div>
<% end %>

<hr>

<h2>Password</h2>
<div class="actions">
  <a href="<%=change_password_url%>" class="btn primary">
      Change Password
  </a>
</div>

<hr>

<h2>Avatar</h2>
<div class="clearfix">
  <br>
  <%= gravatar_image_tag(current_user.email) %>
  <br><br>
  <span>
    We use your <a href="http://gravatar.com">Gravatar</a> to represent you on this site.
    Remember to use <strong><%= @user.email %></strong> as your email id.
  </span>
  <div class="actions">
    <a href="http://en.gravatar.com/site/signup" class="btn">
      Sign up for Gravatar
    </a>
    <a href="http://en.gravatar.com/emails/" class="btn">
      Update Your Gravatar
    </a>
  </div>
</div>
<hr>
<h2>Connected Accounts</h2>
<br>
<div class="clearfix">
  <label>
    Twitter&nbsp;&nbsp;&nbsp;&nbsp;
  </label>
  <div class="input">
    <% if @is_twitter_connected %>
      <%= link_to "Remove", "auth/twitter", :class => "btn error" %>
    <% else %>
      <%= link_to image_tag("sign-in-with-twitter.png", :alt => "Sign in with Twitter"), "auth/twitter" %>
    <% end %>
  </div>
</div>
<br>
<div class="clearfix">
  <label>
    Facebook&nbsp;&nbsp;&nbsp;&nbsp;
  </label>
  <div class="input">
    <% if @is_facebook_connected %>
      <%= link_to "Remove", "auth/facebook", :class => "btn error" %>
    <% else %>
      <%= link_to content_tag(:div, "", :id => 'facebook-btn'), "auth/facebook" %>
    <% end %>
  </div>
</div>
<br><br>
