<% if @user %>
  <div class="user-header">
    <% if @user.email and @user.email != '' %>
      <div class="user-profile-avatar">
        <%= gravatar_image_tag(@user.email, :gravatar => { :size => 50 }) %>
      </div>
    <% end %>
    <h3>
      <% if @user.realname and @user.realname != '' %>
        <%= @user.realname %> /
      <% end %>
      <%= @user.login %>
    </h3>
    <div class="user-info">
      <% if @user.website and @user.website != ''%>
        <%= link_to @user.website, @user.website %> •
      <% end %>
      <% if @user.bio and @user.bio != ''%>
        <%= @user.bio %> •
      <% end %>
      <% if @user.location and @user.location != ''%>
        <%= @user.location %> •
      <% end %>
      <%= @user.stories.count %> Posts •
      <%= @user.comments.count %> Comments
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#posts" data-toggle="tab">Posts</a></li>
    <li><a href="#comments" data-toggle="tab">Comments</a></li>
    <li><a href="#likes" data-toggle="tab">Likes</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="posts">
      <%= render :partial => "partials/story_items", :locals => { :stories => @stories } %>
      <% if @stories.count == 0 %>
        <em>No posts yet</em>
      <% end %>
      <% if @tags.count != 0 %>
        <h4>
          <%= @user.login %>'s tag cloud
        </h4>
        <%= render :partial => "partials/tag_cloud", :locals => { :tags => @tags, :topic => false } %>
      <% end %>
    </div>
    <div class="tab-pane" id="likes">
      <% if @liked_stories.count != 0 %>
        <%= render :partial => "partials/story_items", :locals => { :stories => @liked_stories } %>
      <% else %>
        <em>No stories liked yet</em>
      <% end %>
    </div>
    <div class="tab-pane" id="comments">
      <% if @comments.count != 0 %>
        <% for comment in @comments %>
          <blockquote>
            <p>
              <%= comment.body %>
            </p>
            <small>On <%= comment.created_at.to_s(:cool) %> in response to <strong>
            <%= link_to comment.story.title, :controller => "stories", 
                                             :action => "show", 
                                             :id => comment.story.id %>
          </blockquote>
        <% end %>
      <% else %>
        <em>No comments yet</em>
      <% end %>
    </div>
  </div>
<% else %>
  <h2>Oops! User Not Found</h2>
<% end %>