<div class="well">
  <% if @user.email and @user.email != '' %>
    <div class="user-profile-avatar">
      <%= gravatar_image_tag(@user.email, :gravatar => { :size => 50 }) %>
    </div>
  <% end %>
  <h2>
    <% if @user.realname and @user.realname != '' %>
      <%= @user.realname %> /
    <% end %>
    <%= @user.login %>
  </h2>
  <h5>
    <% if @user.website and @user.website != ''%>
      <%= link_to @user.website, @user.website %> •
    <% end %>
    <% if @user.bio and @user.bio != ''%>
      <%= @user.bio %> •
    <% end %>
    <% if @user.location and @user.location != ''%>
      <%= @user.location %> •
    <% end %>
    <%=@user.stories.count%> Links •
    <%=@user.comments.count%> Comments
  </h5>
</div>
<h3>Stories by <%=@user.login%></h3>
<br>
<!-- TODO: Pagination here -->
<%= render :partial => "partials/story_items", :locals => { :stories => @stories } %>
<% if @tags.count != 0%>
    <h4>
      <%=@user.login%>'s tag cloud
    </h4>
    <%= render :partial => "partials/tag_cloud", :locals => { :tags => @tags, :topic => false } %>
<% end %>
<% if @comments.count != 0 %>
  <hr>
  <h3>
    <%=@user.login%>'s latest comments
  </h3>
  <br><br>
  <% for comment in @comments %>
    <div class="activity-item">
      <blockquote>
        <%=comment.body%>
        <br><br>
      <small>On <%=comment.created_at.to_s(:cool)%> in response to <strong><%=link_to comment.story.title, {:controller=>"stories", :action=>"show", :id=>comment.story.id}%></strong></small>
      </blockquote>
    </div>
  <% end %>
<% end %>