<% if @user %>
  <!-- User Profile Header -->
  <div class="user-header well row">
    <% if @user.email and @user.email != '' %>
      <div class="span1 pull-left user-avatar">
        <%= link_to image_tag(@user.get_image_url) %>
      </div>
    <% end %>
    <div class="span10 user-description">
      <h3>
        <% if @user.realname and @user.realname != '' %>
          <%= @user.realname %>
        <% else %>
          <%= @user.login %>
        <% end %>
      </h3>
      <div class="user-info">
        <% if @user.bio and @user.bio != '' %>
          <%= @user.bio %> •
        <% end %>
        <% if @user.website and @user.website != '' %>
          <%= link_to @user.website, @user.website %> •
        <% end %>
        <% if @user.location and @user.location != '' %>
          <i class='icon-map-marker'></i>
          <%= @user.location %>
        <% end %>

        <% if @user.bio or @user.website or @user.location %>
          <br>
        <% end %>

        <%= @user.stories.count %> Posts •
        <%= @user.comments.count %> Comments •
        <%= @likes_count %> Likes •
        <%= @user.followers_count %> Followers

        <button class="btn btn-success has-tooltip user-follow">Follow</button>
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#user-posts" class="posts-tab-link" data-toggle="tab">
        <i class="icon-pencil"></i> Blog Posts
      </a>
    </li>
    <li>
      <a href="#user-comments" data-toggle="tab">
        <i class="icon-comment"></i> Comments
      </a>
    </li>
    <li>
      <a href="#user-likes" class="likes-tab-link" data-toggle="tab">
        <i class="icon-star"></i> Liked Stories
      </a>
    </li>
  </ul>
  <div class="tab-content">

    <!-- User's posts -->
    <div id="user-posts" class="tab-pane active user-posts">
      <div class="topic-stories"></div>
    </div>

    <!-- Liked stories -->
    <div id="user-likes" class="tab-pane user-likes">
      <div class="topic-stories"></div>
    </div>

    <!-- Comments -->
    <div id="user-comments" class="tab-pane user-comments">
      <% if @user.comments.count != 0 %>
        <% for comment in @user.comments.reverse %>
          <blockquote>
            <p>
              <%= comment.body %>
            </p>
            <small>
              <%= time_ago_in_words(comment.created_at) %> ago in response to
              <%= link_to comment.story.title, :controller => "stories", :action => "show", :id => comment.story.id %>
            </small>
          </blockquote>
        <% end %>
      <% else %><p class="lead empty-message">No comments made yet.</p><% end %>
    </div>

  </div>
<% else %>
  <br><br>
  <h3>Oops! User Not Found</h3>
<% end %>

<%= render :partial => "users/footer", :locals => {
  :current_user => @current_user,
  :user => @user
} %>
