<div class="userProfileBanner">
	<table border="0" cellspacing="4" cellpadding="3">
		<tr>
			<td width="5%" valign="top">
				<%= image_tag(gravatar_url @user.email) %>
			</td>
			<td valign="top">
				<div class="right-top">
				<% if @user.twitter_id and @user.twitter_id != ''%>
					<a title="<%=@user.login%> on twitter" href="http://twitter.com/<%=@user.twitter_id%>">
						<%= image_tag "sites/twitter.png"%>
					</a>
				<%end%>
				<% if @user.facebook_url and @user.facebook_url != ''%>
					<a title="<%=@user.login%> on facebook" href="<%=@user.facebook_url%>">
						<%= image_tag "sites/facebook.png"%>
					</a>
				<%end%>
				<% if @user.linkedin_url and @user.linkedin_url != ''%>
					<a title="<%=@user.login%> on linkedin" href="<%=@user.linkedin_url%>">
						<%= image_tag "sites/linkedin.png"%>
					</a>
				<%end%>
				<% if @user.delicious_id and @user.delicious_id != ''%>
					<a title="<%=@user.login%> on delicious" href="http://delicious.com/<%=@user.delicious_id%>">
						<%= image_tag "sites/delicious.png"%>
					</a>
				<%end%>
				<% if @user.friendfeed_id and @user.friendfeed_id != ''%>
					<a title="<%=@user.login%> on friendfeed" href="http://friendfeed.com/<%=@user.friendfeed_id%>">
						<%= image_tag "sites/friendfeed.png"%>
					</a>
				<%end%>
				</div>
				
				<h3> 
				<% if @user.realname and @user.realname != ''%>
					<%= @user.realname %> / 
				<% end %>
				<%=@user.login%></h3>
				<% if @user.bio and @user.bio != ''%>
					<%= @user.bio %><br>
				<% end %>
				<% if @user.website and @user.website != ''%>
					<%= link_to @user.website, @user.website %><br>
				<% end %>
				<% if @user.location and @user.location != ''%>
					<%= @user.location %><br>
				<% end %>				
				<%=@user.stories.count%> Links, <%=@user.comments.count%> Comments on Slurp!
			</td>
		</tr>
	</table>
</div>

<div id="rightPanel">

	<h2><%=@user.login%>'s tag cloud</h2>
	<%=render :partial => "partials/tag_cloud", :locals => { :tags => @tags, :topic => false }%>
<br>
	<h2><%=@user.login%>'s latest comments</h2>

	<%for comment in @comments%>
		<blockquote>
			<%=comment.body%>
		</blockquote>
		<small>On <%=comment.created_at.to_s(:cool)%> in response to <strong><%=link_to comment.story.title, {:controller=>"stories", :action=>"show", :id=>comment.story.id}%></strong></small>
	<%end%>
</div>

<div id="contentPanel">
	<h2>Latest from <%=@user.login%></h2>
	<!-- TODO: Pagination here -->
	<%=render :partial => "partials/story_items", :locals => { :stories => @stories }%>
</div>

