<div id="middle">
  <div class="userProfileHeader">
    <% if @user.email and @user.email != '' %>
      <div class="userProfilePic">
        <%= gravatar_image_tag(@user.email, :gravatar => { :size => 50 }) %>
      </div>
    <% end %>
    <h3>
      <% if @user.realname and @user.realname != '' %>
        <%= @user.realname %> /
      <% end %>
      <%= @user.login %>
    </h3>
    <% if @user.website and @user.website != ''%>
      <%= link_to @user.website, @user.website %> •
    <% end %>
    <% if @user.bio and @user.bio != ''%>
      <%= @user.bio %> •
    <% end %>
    <% if @user.location and @user.location != ''%>
      <%= @user.location %><br>
    <% end %>
    <%=@user.stories.count%> Links, <%=@user.comments.count%> Comments
  </div>
  <br>
  <h2>Latest from <%=@user.login%></h2>
  <!-- TODO: Pagination here -->
  <%= render :partial => "partials/story_items", :locals => { :stories => @stories } %>
</div>
<div id="right">
  <% if @tags.count != 0%>
    <div class="block">
      <h2>
        <%=@user.login%>'s tag cloud
      </h2>
      <%= render :partial => "partials/tag_cloud", :locals => { :tags => @tags, :topic => false } %>
    </div>
  <% end %>
  <% if @comments.count != 0 %>
    <div class="block">
      <h2>
        <%=@user.login%>'s latest comments
      </h2>

      <%for comment in @comments%>
        <blockquote>
          <%=comment.body%>
        </blockquote>
        <small>On <%=comment.created_at.to_s(:cool)%> in response to <strong><%=link_to comment.story.title, {:controller=>"stories", :action=>"show", :id=>comment.story.id}%></strong></small>
      <%end%>
    </div>
  <% end %>
</div>