<% if posts.length > 0 %>
  <% for post in posts %>
    <div class="row-fluid">
      <div class="span1" style="width: 20px;">
        <% if post.kind == 3 %>
          <%= image_tag("facebook_logo.png"); %>
        <% else %>
          <%= image_tag("twitter_logo.png"); %>
        <% end %>
      </div>

      <div class="span11" style="margin-left: 0">
        <div>
          <a href="<%= post.source_url %>"><%= post.title %></a>
        </div>

        <div class="story-meta" >
          By
          <a class="has-tooltip" data-placement="bottom" data-delay="300" href="<%= post.source_url %>">
            <%= post.source %>
          </a>
          <% if post.kind == 3 %>
          · <%= post.fb_likes_count %> likes, <%= post.fb_comments_count %> comments
          <% else %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<hr>
<% end %>
