<!-- Sign Up Note -->
<% if !logged_in? %>
  <%= render :partial => "partials/description/signin", :locals => {
    :url => login_url
  } %>
  <hr>
<% end %>

<!-- Related stories belonging to same topic -->
<% if more_stories && more_stories.count != 0 %>
  <h4>
    More in <strong>
      <% if story.topic %>
        [ <%= story.topic.title %> ]
      <% else %>
        Uncategorized
      <% end %>
    </strong>
  </h4>
  <% for a_story in more_stories %>
    <%= render :partial=>"stories/sidebar_story", :locals => {:story => a_story} %>
  <% end %>
  <hr>
<% end %>

<!-- Stories from same source -->
<% if more_stories_from_source and more_stories_from_source.count != 0 %>
  <h4>More from <%= story.source %></h4>
  <% for a_story in more_stories_from_source %>
    <%= render :partial=>"stories/sidebar_story", :locals => {:story => a_story} %>
  <% end %>
  <hr>
<% end %>

<!-- Other User blog posts -->
<% if user_posted_stories and user_posted_stories.count != 0 %>
  <h4>More blog posts by <%= story.user.login %></h4>
  <% for a_story in user_posted_stories %>
    <%= render :partial=>"stories/sidebar_story", :locals => {:story => a_story} %>
  <% end %>
  <hr>
<% end %>

<!-- All User Discussions -->
<% if all_posted_stories and all_posted_stories.count != 0 %>
  <h4>Recent user posts</h4>
  <% for a_story in all_posted_stories %>
    <%= render :partial=>"stories/sidebar_story", :locals => {:story => a_story} %>
  <% end %>
  <hr>
<% end %>

<!-- Related Tags -->
<% if story.tag_list.count != 0 %>
  <h4>Related tags</h4>
  <% if topic %>
    <%= render :partial => "partials/tag_list",
      :locals => { :list => story.tag_list, :topic => topic.id } %>
  <% end %>
  <hr>
<% end %>
