<%=render :partial => "topics/header", :locals => {:topic => @story.topic}%>
<br>
<%if @story.kind ==  Story::Post%>
<h3>Edit Post</h3>
<%else%>
<h3>Edit Link</h3>
<%end%>

<%= form_for(@story) do |f| %>
  <%= f.error_messages %>

  <%if @story.kind ==  Story::Link%>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url, :class=>'url_input' %>
  </p>
  <%end%>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :class=>'title_input' %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => 'rich_text_editor'%>
  </p>
  <p>
    <%= f.label :tag_list %> (separate with ,)<br />
    <%= f.text_field :tag_list%>
  </p>
  <p>
    <button type="submit" class="positive">
    <%= image_tag "tick.png" %>
      Update
    </button>
  </p>
<% end %>
<br><br>
