<h1>Subscribe to RSS Feed</h1>
<%= form_tag options = {:controller => 'feed', :action => 'stories'}, :method => "get" do %>

<p><label for="story_title">Number of stories per view</label><br/>
<%= select("story", "num_stories", [ '5', '10', '15', '20', '30']) %></p>

<p><label for="stories_category_id">Select stories that were posted during:</label><br/>
<%= select("story", "time", [ 'last one day', 'last one week', 'last one month']) %></p>

<p><label for="story_author">Select stories posted by (Feature Under Development):</label><br/>
<%= text_field 'story', 'poster'  %></p>
<% if @error_msg %>
  <p class="error"><%=@error_msg%></p>
<%end%>

<%= submit_tag "Subscribe" %>
<% end %>

<%= link_to 'Back', stories_path %>