<div id="contentPanel">
<%= render :partial => "partials/topic_header", :locals => {:topic => @topic} %>
<% if @story.kind == Story::Event %>
  <h3>
    Add an event to <%=@topic.title%>
  </h3>
<% elsif @story.kind == Story::Post %>
  <h3>
    Add a post to <%=@topic.title%>
  </h3>
  <div class="addForm">
  <%= form_for [@topic, @story] do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :kind%>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title, :class=>'title_input' %>
    </p>
    <p>
      <%= f.label "Body" %><br />
      <%= f.text_area :description, :class => 'rich_text_editor' %>
    </p>
    <p>
      <%= f.label :tag_list %><br />
      <%= f.text_field :tag_list, :size => 50 %>
    </p>
    <p>
    <button type="submit" class="positive">
      <%= image_tag "add.gif" %>
      Create Post
    </button>
    </p>
  </div>
<% end %>
<% elsif @story.kind ==  Story::Link %>
  <h3>Add a link to <%=@topic.title%></h3>
  <div class="addForm">
  <%= form_for [@topic, @story] do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :kind%>
    <p>
      <%= f.label :url %><br />
      <%= f.text_field :url, :class=>'url_input' %>
    </p>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title, :class=>'title_input' %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= f.text_area :description, :class => 'rich_text_editor' %>
    </p>
    <p>
      <%= f.label :tag_list %><br />
      <%= f.text_field :tag_list, :size => 50 %>
    </p>
    <p>
    <% if params[:url] %>
    <%=hidden_field_tag 'redirect', params[:url]%>
    <button type="submit" class="positive">
      <%= image_tag "add.gif" %>
      Create link and return to site
    </button>
    <% else %>
    <button type="submit" class="positive">
      <%= image_tag "add.gif" %>
      Create Link
    </button>
    <% end %>
    </p>
  <% end %>
  </div>
<% else %>
  <h2>That kind of type is not supported.</h2>
<% end %>
<br><br>
</div>
<% if params[:url] %>
  <div id="rightPanel">
    Use our bookmarklet to easily add pages to this topic. Simply drag this link on to your bookmarks toolbar. Once you do that, whenever you want to add a page to Slurp!, all you need to do is click the bookmark.<br><br>Drag this:<br><br>
    <a class="bookmarklet" href="javascript:(function(){javascript:(function(){var%20t;try{t=((window.getSelection&&window.getSelection())||(document.getSelection&&document.getSelection())||(document.selection&&document.selection.createRange&&document.selection.createRange().text));}catch(e){t=%22%22;}location.href='<%=root_url%>topics/<%=@topic.id%>/stories/new/?kind=link&url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title)+'&desc='+encodeURIComponent(t);})();})();">
      + <%= @topic.title%> on Slurp!
    </a>
  </div>
<% end %>