<%= render :partial => "partials/story/header",
  :locals => {:story => @story}
%>

<div class="row">
  <div class="span8 story">

    <div class="row">
      <div class="span6" style="width: 325px">
        <div class="row" style="margin-left: 0px;">
          <%= render :partial => "partials/story/meta",
            :locals => {:story => @story}
          %>
        </div>
      </div>
      <div class="span2 pull-right" style="width: 220px; margin-top: 3px">
        <div class="row pull-right">
          <div style="display: inline-table; margin-bottom: -4px;">
            <%= render :partial => "partials/like_btn/html", :locals => {:story => @story} %>
          </div>
          <%= render :partial => "partials/story/share_buttons",
            :locals => { :story => @story } %>
        </div>
      </div>
    </div>

    <%= render :partial => "partials/story/body", :locals => {
      :story => @story
    } %>
    
    <%= render :partial => "partials/story/likers",
      :locals => {:story => @story, :users => @likers}
    %>

    <%= render :partial => "partials/story/comments",
      :locals => {:story => @story }
    %>
  </div>

  <%= render :partial => "partials/story/sidebar", :locals => {
      :story                    => @story,
      :more_stories             => (defined? @more_stories) ? @more_stories : nil,
      :more_stories_from_source => @more_stories_from_source,
      :user_posted_stories      => (defined? @user_posted_stories) ? @user_posted_stories : nil,
      :all_posted_stories       => (defined? @all_posted_stories) ? @all_posted_stories : nil,
      :topic                    => (defined? @topic) ? @topic : nil
    }
  %>
</div>

<%= render :partial => "partials/story/footer", 
  :locals => {
    :story    => @story,
    :user_id  => @user_id,
    :comments => @comments
  }
%>