<div id="middle">
  <div class="storyHeader">
    <%= story_title(@story) %>
    <%= render :partial => "partials/story_vote_panel", :locals => { :story => @story } %>
    <%= story_meta(@story) %>
  </div>

  <div class="storyContent">
    <% if @story.image.exists? %>
      <div class="storyImage">
        <%= image_tag(@story.image.url) %>
      </div>
    <% end %>
    <%= sanitize(@story.description) %>
  </div>
  <br>
  <% if @likers.count != 0 %>
    <h2>
      Liked by
    </h2>
    <%= story_likers(@likers) %>
    <br><br>
  <% end %>
  <div id="comments">
    <h2>
      <%= @story.comments.count %>
      <% if @story.comments.count == 1 %>
        Comment
      <% else %>
        Comments
      <% end %>
    </h2>

    <% for comment in @story.comments %>
    <div class="comment">
      <div class="commentPic">
        <%= gravatar_image_tag(comment.user.email, :gravatar => { :size => 24 }) %>
      </div>
      <div class="commentBody">
        <%= link_to comment.user.login, {
          :controller=> "users",
          :action => "show",
          :id => comment.user.id} %><br>
        <%= comment.body %>
        <div class="commentInfo">
          <%= time_ago_in_words comment.created_at %> ago
          <% if logged_in? and comment.user_id == current_user.id %>
               | <%= link_to 'delete', url_for(:controller => "stories",
              :action => "delete_comment",
              :id => @story.id,
              :cid => comment.id),
              :confirm => 'Are you sure you want to delete this comment?',
              :class => "negative" %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <br>
    <h2>Add a comment</h2>
    <% if logged_in? %>
    <%= form_tag :action => "comment" , :id => @story.id %>
      <%= text_area "comment", "body" %> <br>
      <%= submit_tag "Comment", :class => "button" %>
    </form>
    <% else %>
    <p>
      <i>Sign up or login to comment</i>
    </p>
    <% end %>
  </div>
</div>

<div id="right">
  <div class="block">
    <% if @more_stories && @more_stories.count != 0 %>
      <h2>
        More from <strong>
          <% if @story.topic %>
            <%= @story.topic.title %>
          <% else %>
            Uncategorized
          <% end %>
        </strong>
      </h2>
        <ul>
          <% for @a_story in @more_stories %>
            <li>
              <%= story_sidebar_link(@a_story) %>
            </li>
          <% end %>
        </ul>
    </div>
  <% end %>
  <% if @more_stories_from_source %>
    <div class="block">
      <h2>More from <%= @story.source %></h2>
      <ul>
        <% for @a_story in @more_stories_from_source %>
          <li>
            <%= story_sidebar_link(@a_story) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @story.tag_list.count != 0%>
    <div class="block">
      <h2>Related tags</h2>
      <% if @topic %>
        <%= render :partial => "partials/tag_list", :locals => { :list => @story.tag_list, :topic => @topic.id } %>
      <% end %>
    </div>
  <% end %>
  <div class="block">
    <h2>Share</h2>
    <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
      <iframe src="//www.facebook.com/plugins/like.php?href=<%= request.url %>&amp;send=false&amp;layout=button_count&amp;width=50&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px; display: inline; margin-left: -10px" allowTransparency="true"></iframe>
    </div>
</div>