
<!-- Story Header -->
<%= render :partial => "partials/story/header",
  :locals => {:story => @story}
%>

<div class="row">
  <div class="span8 story">

    <!-- Story Meta -->
    <div class="row">
      <div class="span6" style="width: 325px">
        <div class="row" style="margin-left: 0px;">
          <%= render :partial => "partials/story/meta",
            :locals => {:story => @story}
          %>
        </div>
      </div>

      <!-- Story Buttons -->
      <div class="span2 pull-right" style="width: 250px; margin-top: 3px">
        <div class="row pull-right">
          <div style="display: inline-table; margin-bottom: -4px;">
            <%= render :partial => "partials/button/like/html", 
              :locals => {:story => @story} 
            %>
          </div>
          <%= render :partial => "partials/story/share_buttons",
            :locals => { :story => @story } 
          %>
        </div>
      </div>
    </div>

    <% if @story.kind != Story::Rss and logged_in? and @story.user_id == current_user.id %>
      <div class="row pull-right">
        <%= render :partial => "partials/story/edit_btn", 
          :locals => {:story => @story}
        %>
      </div>
    <% end %>

    <!-- Story Body -->
    <%= render :partial => "partials/story/body", :locals => {
      :story => @story
    } %>
    
    <!-- Story Likers -->
    <%= render :partial => "partials/story/likers",
      :locals => {:story => @story, :users => @likers}
    %>

    <!-- Story Comments -->
    <%= render :partial => "partials/story/comments",
      :locals => {:story => @story }
    %>
  </div>

  <!-- Story Sidebar -->
  <%= render :partial => "partials/story/sidebar", :locals => {
      :story                    => @story,
      :more_stories             => (defined? @more_stories) ? @more_stories : nil,
      :more_stories_from_source => @more_stories_from_source,
      :user_posted_stories      => (defined? @user_posted_stories) ? @user_posted_stories : nil,
      :all_posted_stories       => (defined? @all_posted_stories) ? @all_posted_stories : nil,
      :topic                    => (defined? @topic) ? @topic : nil
    }
  %>
</div>

<!-- Story Footer -->
<%= render :partial => "partials/story/footer", 
  :locals => {
    :story    => @story,
    :user_id  => @user_id
  }
%>

<!-- Story Voice Reader JS -->
<script type="text/javascript">
  <%= render :partial => "partials/vts_reader_js" %>
</script>
