<div id="contentPanel">
  <div class="storyHeader">
    <%if @story.kind ==  Story::Link%>
      <div class="storyTitle">
        <%= link_to @story.title, @story.url %>
      </div>
      <div class="storyHeaderLink">
        <%= link_to @story.url, @story.url %>
      </div>
    <%else%>
      <div class="storyTitle">
        <%= @story.title %>
      </div>
    <%end%>
    <div class="storyHeaderTagList">
      <%= render :partial => "partials/tag_list", :locals => { :list => @story.tag_list, :topic => @topic.id } %>
    </div>
</div>

<div class="storyDescription">
  <%= sanitize(@story.description) %>
</div>
<div class="storyMeta">
  <%if logged_in? and @story.user_id == current_user.id%>
    <div style="float: right; clear: both;">
      <div align="right">
        <a class="button" href="<%=edit_story_path(@story)%>" >
          Edit
        </a>
        <%= link_to 'Delete', @story, :confirm => 'Are you sure you want to delete this post? You will not be able to restore it later.', :method => :delete, :class => "negative button" %>
      </div>
    </div>
  <%end%>
  <div>
    <div style="float: left; margin-right: 10px">
      <a href="<%=url_for(@story.user)%>">
        <%= gravatar_image_tag(@story.user.email, :gravatar => { :size => 40 }) %>
      </a>
    </div>
    <div>
      <%= link_to @story.user.login, @story.user %>
    </div>
    <div>
      <%= @story.created_at.to_s(:cool) %> (<%= time_ago_in_words @story.created_at %> ago).
    </div>
  </div>
</div>

<br>

<h2>
  <%= @story.comments.count %> Comments
</h2>

<% for comment in @story.comments %>
<div class="comment">
  <div class="commentPic">
    <%= gravatar_image_tag(comment.user.email, :gravatar => { :size => 24 }) %>
  </div>
  <div class="commentBody">
    <%= link_to comment.user.login, {
      :controller=> "users",
      :action => "show",
      :id => comment.user.id} %><br>
    <%= comment.body %>
    <div class="commentInfo">
      <%= time_ago_in_words comment.created_at %> ago
      <% if logged_in? and comment.user_id == current_user.id %>
           | <%= link_to 'Delete', url_for(:controller => "stories",
          :action => "delete_comment",
          :id => @story.id,
          :cid => comment.id),
          :confirm => 'Are you sure you want to delete this comment?',
          :class => "negative" %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<br>
<h2>Add a response</h2>
<% if logged_in? %>
<%= form_tag :action => "comment" , :id => @story.id %>
  <%= text_area "comment", "body" %> <br>
  <%= submit_tag "Comment!", :class => "button" %>
</form>
<% else %>
<p>
  <i>Sign up or login to comment</i>
</p>
<% end %>
</div>