<div class="breadcrumb"><%= @story.topic.title %></div>
<div class="row">
  <div class="span8 story">
    <h2>
      <%= story_title(@story) %>
    </h2>
    <a class="like-btn btn">
      <div class="vote-count">
      </div>
    </a>
    <%= story_meta(@story) %>
    <div class="story-content">
      <% if @story.image.exists? %>
        <div class="story-image">
          <%= image_tag(@story.image.url) %>
        </div>
      <% end %>
      <%= sanitize(@story.description) %>
    </div>
    <% if @story.kind == Story::Rss %>
      <hr>
      <div class="story-footer">
        Original article: <%= link_to @story.source_url, @story.source_url %>
      </div>
    <% end %>
    <hr>
    <div id="story-likers">
      <% if @likers.count != 0 %>
        <h4>
          Liked by
        </h4>
        <%= story_likers(@likers) %>
      <% end %>
    </div>
    <% if @likers.count != 0 %>
      <hr>
    <% end %>
    <div id="comments<%= @story.id %>">
      <h4 class="comment-count"></h4>
      <div class="comment-entries"></div>
      <h4>Add a comment</h4>
      <% if logged_in? %>
        <div class="clearfix">
          <%= text_area "comment",
                        "body",
                        :class => "input-xxlarge comment-body",
                        :rows => "6" %>
        </div>
        <br>
        <%= submit_tag "Comment",
                       :class => "btn add-comment" %>
      <% else %>
      <p>
        <%= link_to "Sign in", login_url, :class=>"small-btn btn" %> to comment
      </p>
      <% end %>
    </div>
  </div>
  <%= render :partial => "partials/story_sidebar", :locals => {
      :story                    => @story,
      :more_stories             => @more_stories,
      :more_stories_from_source => @more_stories_from_source,
      :topic                    => @topic
    }
    %>
</div>
<script>
  $(document).ready(function(e) {
    var comments = new window.CommentsListView(<%= @comments.to_json.html_safe %>,
      <%= @story.id %>,
      <%= @user_id %>);
    var vote = new window.VoteView(<%= @voting_data.to_json.html_safe %>);
  });
</script>
