<%= render :partial => "partials/page_header", :locals => {:title => "About Virtual Town Square"} %>
<p class="lead" style="font-size: 30px; padding: 20px 0">
  We are bringing the local NRV Community together.
</p>

<div class="row-fluid">
  <div class="row-fluid well lead">
    <div class="span3">
      <%= image_tag "about/news.jpg" %>
    </div>
    <div class="span7">
      <h3>Local News</h3>
      Catch up on the latest news in New River Valley captured from local news websites, blogs of local organizations and individuals.
    </div>
  </div>

  <div class="well row-fluid lead">
    <div class="span3">
      <%= image_tag "about/chatter.jpg" %>
    </div>
    <div class="span7">
      <h3>Chatter</h3>
      See what the local community is talking about on Twitter and Facebook.
    </div>
  </div>

  <div class="row-fluid well lead">
    <div class="span3">
      <%= image_tag "about/blog.jpg" %>
    </div>
    <div class="span7">
      <h3>Start a Blog</h3>
      Start your own blog about things you care about, and share it with your local community and your friends.
    </div>
  </div>

  <div class="row-fluid well lead">
    <div class="span3">
      <%= image_tag "about/share.jpg" %>
    </div>
    <div class="span7">
      <h3>Share</h3>
      Comment, like and share content with your friends on Twitter, Facebook or elsewhere.
    </div>
  </div>

  <div class="row-fluid well lead">
    <h3>Research</h3>
    This project is being actively developed as part of research at <a href="http://vt.edu">Virginia Tech</a>. Learn more about it on the <%= link_to "About Research", research_url %> page. It is opensource and available on <a href='http://github.com/colloki/colloki'>Github</a>.
  </div>

  <div class="row-fluid well lead">
    <h3>Local Publisher?</h3>
    Let us know! If you've an <a href="http://en.wikipedia.org/wiki/RSS">RSS</a> feed, we'll add your news site or blog to our sources and capture your content.<br>
    <a href="#local-publisher-modal" class='btn btn-primary' data-toggle="modal">
      Send Link
    </a>
    <%= render :partial => "partials/modal/suggestion" %>
  </div>
</div>
