<%= render :partial => "partials/page_header",
  :locals => {:title => "News Sources"}
%>
We get content from the following local blogs in Blacksburg and Montgomery County:
<br><br>
<ul>
  <li><a href="http://www.collegiatetimes.com">Collegiate Times</a></li>
  <li><a href="http://blogs.roanoke.com/theburgs">The Burgs Blog</a></li>
  <li><a href="http://www.roanoke.com">Roanoke Times</a></li>
  <li><a href="http://www.vtnews.vt.edu">Virginia Tech News</a></li>
  <li><a href="http://www.bev.net">Blacksburg Electronic Village</a></li>
  <li><a href="http://www.blacksburg.va.us">Town of Blacksburg</a></li>
  <li><a href="http://www.citizensfirstforblacksburg.org">Citizens First For Blacksburg</a></li>
  <li><a href="http://downtownblacksburg.wordpress.com/">Downtown Blacksburg</a></li>
  <li><a href="http://www.christiansburg.org/">Christiansburg</a></li>
  <li><a href="http://www.myvaresources.com/blogs/depotdazed/">Depotdazed</a></li>
  <li><a href="http://nrvnews.com/">NRV News</a></li>
  <li><a href="http://www2.swvatoday.com/">SWVA Today</a></li>
  <li><a href="http://www.southwesttimes.com/">The Southwest Times</a></li>
  <li><a href="http://www.lwvmcva.org">LWVMCA</a></li>
</ul>
<hr>
Are you a local publisher / blogger? Did we miss a blog you read? Please send us a link using the following form or
<a href="mailto:ankit88@vt.edu">email us.</a>
<br><br>

<%= form_tag :controller => :notifier, :action => :send_blog_suggestion do %>
  <div class="control-group">
    <label>
      Link <span class="important">*</span>
    </label>
    <div class="controls">
      <%= text_field :blog, :url, :class => "span5" %>
    </div>
  </div>

  <div class="control-group">
    <label>
      Your email <span class="important">*</span>
      <span class="help-block">So that we can get back to you!</span>
    </label>
    <div class="controls">
      <%= text_field :blog, :email, :class => "span5" %>
    </div>
  </div>

  <div class="control-group">
    <label>
      Description <span class="help-block">optional</span>
    </label>
    <div class="controls">
      <%= text_area :blog, :description, :class => "span5", :rows => 5 %>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">
      Send
    </button>
  </div>
<% end %>

Have suggestions? <a href="mailto:ankit88@vt.edu">Email us</a>! To know more about this project, please see the <a href="/about">About</a> page.
