<div class="modal hide" id="navbar-share-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Write a Blog Post</h3>
  </div>
  <% if logged_in? %>
    <%= form_for :discuss, :html => {:multipart => true}, :url => discuss_path do |f| %>
      <div class="modal-body">
        <p>
          <div class="control-group">
            <div class="controls">
              <%= f.text_field :title,
                :placeholder => "Your post title...",
                :class => "span4"
              %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.text_area :description,
                :rows => 10,
                :placeholder => "Your post...",
                :class => "span5" %>
            </div>
          </div>
          <div class="control-group">
            <label>
              <strong>Add a Photo</strong>
            </label>
            <div class="controls">
              <%= f.file_field :photo, :class => "choose-photo" %>
            </div>
          </div>
        </p>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Cancel</a>
        <button type="submit" class="btn btn-primary">
          Post
        </button>
      </div>
    <% end %>
  <% else %>
    <div class="modal-body">
      <p>
        You need to be signed in to write a blog entry.
      </p>
    </div>
    <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
        <%= link_to "Log In", login_url, :class => "btn btn-primary" %>
      </div>
  <% end %>
</div>

<script type="text/javascript">
  $("#navbar-share-modal").on('shown', function () {
    $("#discuss_title").focus();
  });
</script>
