<%= form_for :user, :url => users_path, :html => { :class => "form-horizontal", :honeypot => true } do |f| %>
  <%= errors_for(@user, "Oh, looks like a few things went wrong").html_safe %>

  <div class="control-group">
    <label class="control-label">
      Username <span class="important">*</span>
    </label>
    <div class="controls">
      <%= f.text_field :login %>
      <p class="help-block">Cannot have spaces or any other special characters</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="email">
      Email <span class="important">*</span>
    </label>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="password">
      Password <span class="important">*</span>
    </label>
    <div class="controls">
      <%= f.password_field :password %>
      <p class="help-block">Five or more characters</p>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">
      Create my account!
    </button>
  </div>

  <div class='control-group'>
    <div class='controls' style='margin-top: -20px'>
      <div class="row-fluid">
        <h3>or Log In with </h3>
        <div class="span2 pull-left" style="width: 155px; margin-left: 0">
          <%= link_to image_tag("sign-in-with-twitter.png", :alt => "Sign in with Twitter"), "auth/twitter" %>
        </div>
        <div class="span1 pull-left" style="width: 160px; margin-left: 0px">
          <%= link_to content_tag(:div, "", :id => 'facebook-btn'), "auth/facebook" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
