<%= form_for :user, :url => users_path, :html => { :class => "well signup-short" } do |f| %>
  <div style="margin-bottom: 20px; font-size: 16px">
    <strong>New to Virtual Town Square?</strong> Create an account!
  </div>

  <%= errors_for(@user, "Oops - a few things went wrong").html_safe %>

  <div class="controls">
    <%= f.text_field :login, :placeholder => "Username" %>
  </div>
  <div class="controls">
    <%= f.text_field :email, :placeholder => "Email" %>
  </div>
  <div class="controls">
    <%= f.password_field :password, :placeholder => "Password" %>
  </div>

  <div class="controls">
    <button type="submit" class="btn btn-success">
      Create Account
    </button>
  </div>

<% end %>
