<%= form_tag create_session_path, :class => "well" do %>
  <div class="controls">
    <%= text_field_tag "login", "",
      :placeholder => "Username or Email",
      :class => "input-xlarge" 
    %>

    <%= password_field_tag 'password', "",
      :placeholder => "Password",
      :class => "input-xlarge"
    %>
  </div>

  <div class="controls">
    <label style="font-size: 12px" class="checkbox">
      <%= check_box_tag "remember_me", "", "" %>
      Remember me · <%= link_to "Forgot password?", forgot_password_url %>
    </label>
  </div>

  <button type="submit" class="btn btn-primary">
    Sign In
  </button>

  <%= hidden_field_tag 'redir', @redir %>
<% end %>
