<h1>
  Complete Sign Up
</h1>
<br>
<%= error_messages_for :user %>
<%= form_for :user, :url => complete_signup_url do |f| -%>

<p>
  <label for="login">Pick a username (Cannot have spaces or any other special characters)</label>
  <br>
  <%= f.text_field :login, :value => @login %>
</p>

<p>
  <label for="email">Email</label>
  <br>
  <%= f.text_field :email, :value => @email %>
</p>

<p>
  <button type="submit" class="positive button">
    <%= image_tag "user.gif"%>
      Done
  </button>
</p>

<% end -%>
<br><br>