<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= csrf_meta_tag %>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <% if request.filtered_parameters["controller"] === "stories" and
        request.filtered_parameters["action"]     === "show" %>
    <%= render :partial => "partials/share/opengraph_meta", :locals => {
      :story => @story
    } %>
  <% end %>

  <link href="<%= feed_url %>" rel="alternate" title="RSS" type="application/rss+xml">

  <title>
    <% if @page_title.blank? %>
      Virtual Town Square
    <% else %>
      <%= @page_title %> - VTS
    <% end %>
  </title>

  <%= stylesheet_link_tag "bootstrap/css/bootstrap.css" %>
  <%= stylesheet_link_tag "site.less", :rel => "stylesheet/less" %>

  <%= include_javascripts :common %>

  <%= render :partial => 'partials/external/uservoice' %>
  <%= render :partial => 'partials/external/analytics' %>

  <script type="text/javascript">
    var APP_ROOT_PATH = "<%= root_url %>";
  </script>
</head>
<body>
  <div class="container-fluid">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand hidden-phone" href="<%=root_url%>" title="Virtual Town Square" tabIndex="1" style="color: #fefefe;">
            Virtual Town Square
          </a>
          <a class="brand hidden-desktop hidden-tablet" href="<%=root_url%>" title="Virtual Town Square" tabIndex="1">
            VTS
          </a>

          <div class="nav-collapse">
            <ul class="nav">
              <% if logged_in? %>
                <% if request.filtered_parameters["controller"] === "users" and
                  request.filtered_parameters["action"] === "show" %>
                  <li class="active">
                <% else %>
                  <li>
                <% end %>
                  <%= link_to "Profile", current_user %>
                </li>
                <% if request.filtered_parameters["controller"] === "users" and
                  request.filtered_parameters["action"] === "settings" %>
                  <li class="dropdown active">
                <% else %>
                  <li class="dropdown">
                <% end %>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= current_user.login %>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Settings", settings_url %></li>
                    <li><%= link_to "Sign out", logout_url %></li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "About", about_url %></li>
                <li><%= link_to "Sign In", login_url %></li>
              <% end %>
            </ul>
          </div>

          <!-- Share Button -->
          <div class="pull-left hidden-phone" id="navbar-share">
            <a data-toggle="modal" href="#navbar-share-modal" class="btn btn-small btn-success">
              <i class="icon-edit icon-white"></i>
              Share
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Message Notifications -->
    <% if flash[:notice] %>
      <div class="alert alert-success" data-dismiss="alert">
        <a class="close" href="#">&times;</a>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-info" data-dismiss="alert">
        <a class="close" href="#">&times;</a>
        <%= flash[:alert] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="alert alert-error" data-dismiss="alert">
        <a class="close" href="#">&times;</a>
        <%= flash[:error] %>
      </div>
    <% end %>

    <%= yield %>
    <hr>

    <%= render :partial => 'partials/footer' %>

    <!-- Modal for share button -->
    <%= render :partial => "partials/modal/share" %>

  </div>
</body>
</html>
