<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Slurp!<% if !@page_title.blank? %> - <%= @page_title %><% end %></title>
	<%= stylesheet_link_tag 'site' %>
	<%= javascript_include_tag('application') %>
	<%= include_yui_editor_if_used %>
	<%= @discover_link %>
</head>
<body>
<script src="http://bubble.websnapr.com/LC360CG44aOr/swi/" type="text/javascript"></script>
<div id="headerFloater">
	<a href="<%=root_url%>" title="Slurp Homepage"><%= image_tag "dot_clear.gif", :size => "165x54"%></a>
</div>
<div id="header">
	<!-- <a href="<%=root_url%>"><%=image_tag "logo.png"%></a> -->
	<div id="userInfo">
		<% if logged_in? %>
		<span>You are logged in as: <%= link_to current_user.login, current_user %> | </span>
		<%= link_to "Settings", settings_url%> | 
		<%= link_to "Logout", logout_url%>
		<% else %>
		<span>Welcome Guest. </span>
		<%= link_to "Login", login_url%> to create, vote on and update links | 	
		<%= link_to "Sign Up", signup_url%>	to join in the fun	
		<% end %>
	</div>
</div>

<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>	
<%end%>
<% if flash[:alert] %>
	<div class="alert"><%= flash[:alert] %></div>
<%end%>

<div id="content">
<%= yield  %>
</div>
	<div id="footer" align="center">
		<small><%= link_to "About", about_url %> | <%= link_to "Changelog", changelog_url%></small>
	</div>
<!--Analytics-->
<% #TODO: In the future, these will need to be globally configurable params. %>
<% if ENV['RAILS_ENV'] == 'production'%>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8343273-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<script type="text/javascript" src="http://sameerahuja.com/clickheat/js/clickheat.js"></script><noscript><p><a href="http://www.labsmedia.com/index.html">Webmaster tools</a></p></noscript><script type="text/javascript"><!--
clickHeatSite = 'slurp.cs.vt.edu';clickHeatGroup = encodeURIComponent(window.location.pathname+window.location.search);clickHeatServer = 'http://sameerahuja.com/clickheat/click.php';initClickHeat(); //-->
</script>
<%end%>
</body>
</html>
