<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
    Colloki <% if !@page_title.blank? %> - <%= @page_title %><% end %>
  </title>
  <%= stylesheet_link_tag 'site' %>
  <%= javascript_include_tag('application') %>
  <% if using_yui_editor? %>
  <%= yui_editor_init.html_safe %>
  <% end %>
  <%= @discover_link %>
</head>
<body>
<div id="header">
  <div id="header_wrap">
    <a href="<%=root_url%>" title="Colloki" id="header_title">
      Colloki
    </a>
    <div id="userInfo">
      <% if logged_in? %>
      <span><%= link_to current_user.login, current_user %> | </span>
      <%= link_to "Settings", settings_url %> |
      <%= link_to "Logout", logout_url %>
      <% else %>
      <%= link_to "Sign in", login_url %> to create, vote and comment on stories
      <% end %>
    </div>
  </div>
</div>
<div id="wrap">
  <% if request.fullpath != "/login" %>
    <div id="topicsPanel">
      <h1>Sections</h1>
      <% if @topics %>
        <ul id="topics">
          <% if request.fullpath == "/" %>
            <li class="selected">
          <% else %>
            <li>
          <% end %>
            <a href="/">Top stories</a>
          </li>
          <li>
            <a href="/">Latest</a>
          </li>
          <div class="separator"></div>
          <% for topic in @topics %>
            <% if (@story and @story.topic_id == topic.id) ||
              (@topic and @topic.id == topic.id) %>
              <li class="selected">
            <% else %>
              <li>
            <% end %>
            <%= link_to topic.title, topical_path(topic) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
  <div id="content">
    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="error">
        <%= flash[:error] %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  <div id="footer">
    <%= link_to "About", about_url %> | <%= link_to "Changelog", changelog_url %>
  </div>
</div>
</body>
</html>