<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= csrf_meta_tag %>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
    Colloki <% if !@page_title.blank? %> - <%= @page_title %><% end %>
  </title>
  <link rel="stylesheet/less" type="text/css" href="/stylesheets/bootstrap/bootstrap.less">
  <link rel="stylesheet/less" type="text/css" href="/stylesheets/site.less">
  <%= include_javascripts :common %>
  <!-- UserVoice for feedback -->
  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/pLtn5f9SjZ6cvVzbO7NeUQ.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  </script>
</head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <a href="<%=root_url%>" title="Colloki" class="brand" tabIndex="1">
          Colloki
        </a>
        <form id="search" action="/search" class="pull-right">
          <input type="search" name="query" placeholder="Search" tabIndex="1" />
        </form>
        <ul class="nav">
          <% if logged_in? %>
            <% if request.filtered_parameters["controller"] === "users" &&
              request.filtered_parameters["action"] === "show" %>
              <li class="active">
            <% else %>
              <li>
            <% end %>
              <%= link_to "Profile", current_user %>
            </li>
            <li>
              <%= link_to "Discuss", "/discuss" %>
            </li>
            <% if request.filtered_parameters["controller"] === "users" &&
              request.filtered_parameters["action"] === "settings" %>
              <li class="dropdown active">
            <% else %>
              <li class="dropdown">
            <% end %>
              <a href="#" class="dropdown-toggle"><%= current_user.login %></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Settings", settings_url %></li>
                <li><%= link_to "Sign out", logout_url %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", login_url %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <% places_without_topics_list = ["/login",
        "/signup",
        "/forgot_password",
        "/reset_password",
        "/about",
        "/sources",
        "/settings"] %>
      <% if (!places_without_topics_list.include? request.fullpath and !request.fullpath.include? 'auth') %>
        <% if @topics %>
          <ul class="pills">
            <% if request.filtered_parameters["controller"] === "topics" &&
              request.filtered_parameters["action"] === "latest" %>
              <li class="active">
            <% else %>
              <li>
            <% end %>
              <a href="/latest">Latest</a>
            </li>
            <% if request.filtered_parameters["controller"] === "topics" &&
              request.filtered_parameters["action"] === "popular" %>
              <li class="active">
            <% else %>
              <li>
            <% end %>
              <a href="/popular">Most Popular</a>
            </li>
            <% for topic in @topics %>
              <% if topic.stories.count != 0 %>
                <% if (@story and @story.topic_id == topic.id) ||
                  (@topic and @topic.id == topic.id) %>
                  <li class="active">
                <% else %>
                  <li>
                <% end %>
                <%= link_to topic.title, topical_path(topic) %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
      <% if flash[:notice] %>
        <div class="alert-message success">
          <a class="close" href="#">×</a>
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert-message info">
          <a class="close" href="#">×</a>
          <%= flash[:alert] %>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div class="alert-message error">
          <a class="close" href="#">×</a>
          <%= flash[:error] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <p class="pull-right">
        &copy; Virginia Tech ·
        <a href="http://cs.vt.edu">Computer Science</a> ·
        <a href="http://comm.vt.edu">Communication</a>
      </p>
      <p>
        <%= link_to "About", about_url %> -
        <%= link_to "Send us Feedback",
        "javascript:UserVoice.showPopupWidget();",
        :title => "Send us feedback!"
        %> -
        <%= link_to "News sources", sources_url %>
      </p>

    </footer>
  </div>
</body>
</html>