<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
    Colloki <% if !@page_title.blank? %> - <%= @page_title %><% end %>
  </title>
  <link rel="stylesheet/less" type="text/css" href="/stylesheets/bootstrap/bootstrap.less">
  <link rel="stylesheet/less" type="text/css" href="/stylesheets/site.less">
  <%= javascript_include_tag("libs/jquery") %>
  <%= javascript_include_tag("application") %>
  <%= javascript_include_tag("bootstrap/dropdown") %>
  <%= javascript_include_tag("bootstrap/twipsy") %>
  <%= javascript_include_tag("libs/less") %>
</head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <a href="<%=root_url%>" title="Colloki" class="brand" tabIndex="1">
          Colloki
        </a>
        <form id="search" action="search" class="pull-right">
          <input type="search" name="query" placeholder="Search" tabIndex="1" target="/search" />
        </form>
        <ul class="nav">
          <% if logged_in? %>
            <li><%= link_to "Your Stories", current_user, :tabIndex => 2 %></li>
            <li><%= link_to "Discuss", "#" %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"><%= current_user.login %></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Settings", settings_url, :tabIndex => 2 %></li>
                <li><%= link_to "Sign out", logout_url, :tabIndex => 3 %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", login_url %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <% places_without_topics_list = ["/login",
        "/signup",
        "/forgot_password",
        "/reset_password",
        "/about",
        "/sources",
        "/settings"] %>
      <% if (!places_without_topics_list.include? request.fullpath and !request.fullpath.include? 'auth') %>
        <% if @topics %>
          <ul class="pills">
            <% # todo: This is not foolproof. fix this %>
            <% if request.fullpath == "/" || request.fullpath.index("latest") %>
              <li class="active">
            <% else %>
              <li>
            <% end %>
              <a href="/latest">Latest</a>
            </li>
            <% # todo: This is not foolproof. fix this %>
            <% if request.fullpath === "/popular" %>
              <li class="active">
            <% else %>
              <li>
            <% end %>
              <a href="/popular">Most Popular</a>
            </li>
            <% for topic in @topics %>
              <% if topic.stories.count != 0 %>
                <% if (@story and @story.topic_id == topic.id) ||
                  (@topic and @topic.id == topic.id) %>
                  <li class="active">
                <% else %>
                  <li>
                <% end %>
                <%= link_to topic.title, topical_path(topic) %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
      <% if flash[:notice] %>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div class="error">
          <%= flash[:error] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <p>
        <%= link_to "About", about_url %> -
        <%= link_to "Report an issue", "http://github.com/colloki/colloki/issues" %> -
        <%= link_to "Sources", "" %>
      </p>
    </footer>
  </div>
</body>
</html>