<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
    Colloki <% if !@page_title.blank? %> - <%= @page_title %><% end %>
  </title>
  <%= stylesheet_link_tag 'site' %>
  <%= javascript_include_tag('application') %>
  <% if using_yui_editor? %>
  <%= yui_editor_init.html_safe %>
  <% end %>
  <%= @discover_link %>
</head>
<body>
<div id="header">
  <div id="header_wrap">
    <a href="<%=root_url%>" title="Colloki" id="header_title">
      Colloki
    </a>
    <div id="userInfo">
      <% if logged_in? %>
      <span>You are logged in as: <%= link_to current_user.login, current_user %> | </span>
      <%= link_to "Settings", settings_url%> |
      <%= link_to "Logout", logout_url%>
      <% else %>
      <span>Welcome Guest. </span>
      <%= link_to "Login", login_url%> to create, vote on and update links |
      <%= link_to "Sign Up", signup_url%> to join in the fun
      <% end %>
    </div>
  </div>
</div>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<%end%>
<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<%end%>

<div id="wrap">
  <div id="content">
    <%= yield %>
  </div>
</div>

<div id="footer">
  <%= link_to "About", about_url %> | <%= link_to "Changelog", changelog_url %>
</div>
</body>
</html>