<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
    Colloki <% if !@page_title.blank? %> - <%= @page_title %><% end %>
  </title>
  <%= stylesheet_link_tag 'site' %>
  <%= javascript_include_tag('application') %>
</head>
<body>
<div id="header">
  <div id="header_wrap">
    <a href="<%=root_url%>" title="Colloki" id="header_title" tabIndex="1">
      Colloki
    </a>
    <form id="search" action="search">
      <input type="search" name="query" placeholder="Search" tabIndex="1" target="/search" />
    </form>
    <div id="userInfo">
      <% if logged_in? %>
        <%= link_to current_user.login, current_user, :tabIndex => 2 %> |
        <%= link_to "Settings", settings_url, :tabIndex => 2 %> |
        <%= link_to "Logout", logout_url, :tabIndex => 3 %>
      <% else %>
        <%= link_to "Sign in", login_url %> to create, vote and comment on stories
      <% end %>
    </div>
  </div>
</div>
<div id="wrap">
  <% places_without_topics = ["/login", "/signup", "/forgot_password", "/reset_password", "/change_password"] %>
  <% if (!places_without_topics.include? request.fullpath and !request.fullpath.include? 'auth') %>
    <div id="topicsPanel">
      <h1>Sections</h1>
      <% if @topics %>
        <ul id="topics">
          <% if request.fullpath == "/" %>
            <li class="selected">
          <% else %>
            <li>
          <% end %>
            <a href="/">Most Popular</a>
          </li>
          <% if request.fullpath == "/latest" %>
            <li class="selected">
          <% else %>
            <li>
          <% end %>
            <a href="/latest">Latest</a>
          </li>
          <div class="separator"></div>
          <% for topic in @topics %>
            <% if (@story and @story.topic_id == topic.id) ||
              (@topic and @topic.id == topic.id) %>
              <li class="selected">
            <% else %>
              <li>
            <% end %>
            <%= link_to topic.title, topical_path(topic) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <% if flash[:error] %>
    <div class="error">
      <%= flash[:error] %>
    </div>
  <% end %>
  <%= yield %>
  <div id="footer">
    <%= link_to "About", about_url %> |
    <%= link_to "Changelog", changelog_url %> |
    <%= link_to "Report an issue", "http://github.com/colloki/colloki/issues" %>
  </div>
</div>
</body>
</html>